-# = simple_form_for(@mar) do |f|
-#   = f.error_notification
-#
-#   .form-inputs
-#     %h3{:align => "center"} Medication Administration Record
-#     .col-md-12.well
-#       = f.input :name, :class => "form-control", :label => "Name"
-#       = f.input :mr_number, :class => "form-control", :label => "MR#"
-#       = f.input :month_year, :class => "form-control", :label => "Month and Year"
-#       = f.input :allergies, :class => "form-control", :label => "Allergies"
-#
-#     .col-md-12.well
-#       = f.input :medication_mar, :class => "form-control", :label => "Medication"
-#       = f.input :prescribed_by, :class => "form-control", :label => "Prescribed By"
-#       = f.input :date_and_time, :class => "form-control", :label => "Date and Time"
-#
-#     .col-md-12.well
-#       %h3{:align => "center"} One-Time Orders
-#       = f.input :order_date, :class => "form-control", :label => "Date of Order"
-#       = f.input :order_prescribed_by, :class => "form-control", :label => "Prescribed By"
-#       = f.input :order_mars, :class => "form-control", :label => "Order"
-#       = f.input :order_date, :class => "form-control", :label => "Date and Time Given"
-#       = f.input :prescriber_initials, :class => "form-control", :label => "Initials"
-#
-#     .col-md-12.well
-#       = f.input :nurse_signature, :class => "form-control", :label => "Nurse Signature"
-#       = f.input :nurse_initials, :class => "form-control", :label => "Nurse Initials"
-#
-#
-#   .form-actions
-#     = f.button :submit

-# name
-# month_year
-# mr_number
-# allergies
-# created_at
-# updated_at
-# history_id
-# medication_mar
-# prescribed_by
-# date_and_time
-# order_date
-# order_mars
-# order_prescribed_by
-# prescriber_initials
-# nurse_signature
-# nurse_initials


= simple_form_for([:admin, @patient, @history, @mar]) do |f|
  = f.error_notification

  .form-inputs
    .col-md-8.well

      -# = f.input :name, :class => "form-control"
      = f.input :month_year, as: :string, :class => "form-control", input_html: { "data-toggle" => "datepicker" }
      -# = f.input :allergies, :class => "form-control"
      = f.input :medication_mar, :class => "form-control", :label => "Medication Name"
      = f.input :prescribed_by, :class => "form-control", :label => "Medication Perscribed By"
      .date_and_time_picker
        %h3 Medication Date
        = f.hidden_field :date_and_time, :value => @mar.date_and_time
      -# 
      -# .date_and_time_picker
      -#   %h3 Order Date
      -#   = f.hidden_field :order_date, :value => @mar.order_date

      = f.input :order_mars, :class => "form-control"
      = f.input :order_prescribed_by, :class => "form-control"
      = f.input :prescriber_initials, :class => "form-control"
      = f.input :nurse_signature, :class => "form-control"
      = f.input :nurse_initials, :class => "form-control"

    .col-md-4
      %h2 Patient Details
      .block
        %h1
          %span.label.label-info.blue
            = @patient.name
        %h3
          MR#
          = @history.mr_number


      .form-actions
        = f.button :submit
