.col-md-4
  %h2 Patient Details
  .block
    %h1
      %span.label.label-info.blue
        = @patient.name
    %h3
      MR#
      = @history.mr_number

%h1 New MAR
= simple_form_for([:admin, @patient, @history, @mar]) do |f|
  = f.error_notification
  .form-inputs
    .col-md-8.well
      -# = f.input :allergies, :class => "form-control"
      = f.input :medication_mar, :class => "form-control", :label => "Medication Name"

      %h4 Perscribed By
      = f.input :prescribed_by, collection: @doctors, input_html: {:class => "chosen-select"}, label: false
      .date_and_time_picker
        %h3 Day
        = f.hidden_field :date_and_time, :value => @mar.date_and_time
      .form-actions
        = f.button :submit, class: "btn btn-success"

      .nurse-activities
        %h3
          Nurse Activities
        = render("admin/mars/nurse_activities")
