.admin-page-wrapper

  .col-md-8.history-information
    = render "layouts/admin/patient_menu", :patient => @patient, :history => @history
    %hr
    %h1 MARs
    = link_to 'Add MAR +', new_admin_patient_history_mar_url(@patient, @history), class: "btn btn-success"
    %hr
    %table.table.table-striped.datatable
      %thead
        %tr
          %th Name
          %th
      %tbody
        - @mars.each do |mar|
          %tr
            %td= mar.date_and_time
            %td
              = link_to 'View Details', admin_patient_history_lab_path(@patient, @history, mar), :class => "btn btn-default btn-xs"

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
