%p#notice= notice

-#%p
  %b Name:
  = @mar.name
-#%p
  %b Month year:
  = @mar.month_year
-#%p
  %b Mr number:
  = @mar.mr_number
-#%p
  %b Allergies:
  = @mar.allergies

.row
  .col-md-4
    %h1 Upper Rio Grande Simulation Hospital
  .col-md-8
    %h1 Medication Administration Record
    .col-md-6.no-padding
      %p
        Name:
        = @mar.patient.name
      %p
        Month:
        = @mar.history.date_of_admission.strftime("%B")
      %p
        Year:
        = @mar.history.date_of_admission.strftime("%Y")
    .col-md-6.no-padding
      %p
        MR:
        = @mar.history.mr_number
      %p
        Allergies:
        = @mar.history.allergies

%hr
%table.table.table-bordered
  %thead
    %tr
      %th Medication
      %th Date and Time
  %tbody
    %tr
      %td
        = @mar.medication_mar
        = @mar.prescribed_by
      %td
        = @mar.date_and_time

= link_to 'Edit', edit_admin_patient_history_mar_path(@mar), class: "btn btn-success"

= link_to 'Back', admin_patient_history_orders_path(@patient, @history), class: "btn btn-primary"
