%p#notice= notice

%p
  %b Name:
  = @mar.name
%p
  %b Month year:
  = @mar.month_year
%p
  %b Mr number:
  = @mar.mr_number
%p
  %b Allergies:
  = @mar.allergies

= link_to 'Edit', edit_admin_patient_history_mar_path(@mar), class: "btn btn-success"

= link_to 'Back', admin_patient_history_orders_path(@patient, @history), class: "btn btn-primary"
-#\|
-#= link_to 'Back', mars_path
