= render "neurological"
= render "psychosocial"
= render "respiratory"
= render "cardiovascular"
= render "gastrointestinal"
= render "nutrition"
= render "skin_mucuous_membranes"
= render "iv_therapy"
= render "genitourinary"
= render "skin_assessment"
= render "pain_assessment"
= render "adl_flowsheet"
= render "skin_assessment_screen"
= render "vte_risk_assessment"
