= simple_form_for([:admin, @patient, @history, @order]) do |f|
  = f.error_notification

  .form-inputs
    .row

      .col-md-12
        .block
          %h1
            %span.label.label-info.blue
              = @patient.name
          %h3
            MR#
            = @history.mr_number
        %hr
      %h1 New Order
      .col-md-8.well
        .date_and_time_picker
          %h3 Date Taken
          = f.hidden_field :date_time, :value => @order.date_time

        = f.input :orders, :as => :text, :class => "form-control", :label => "Orders", input_html: { :class => "froala-editor" }
        -# = f.input :ordered_by, :class => "form-control", :label => "Ordered By"
        %hr
        %h3{:align => "center"} Verification
        .date_and_time_picker
          %h3 Date Taken
          = f.hidden_field :verification_date_and_time, :value => @order.verification_date_and_time

        = f.input :verifier_name, :class => "form-control", :label => "Verifier Name"
        %h3{:align => "center"} Patient Details
        = f.input :patient_name_order, :class => "form-control", :label => "Patient"


  .form-actions
    = f.button :submit, class: "btn btn-success"
