.admin-page-wrapper

  .col-md-8.history-information
    = render "layouts/admin/patient_menu", :patient => @patient, :history => @history
    %hr
    %h1 Orders
    = link_to 'Add Order +', new_admin_patient_history_order_url(@patient, @history), class: "btn btn-success"
    %hr
    %table.table.datatable
      %thead
        %tr
          %th Date and Time
          %th
      %tbody
        - @orders.each do |order|
          %tr
            %td.date-object= order.date_time
            %td
              = link_to 'View', admin_patient_history_order_path(@patient, @history, order), :class => "btn btn-default btn-xs"
              = link_to 'Edit', edit_admin_patient_history_order_path(@patient, @history, order), :class => "btn btn-default btn-xs"
              = link_to 'Delete', admin_patient_history_order_path(@patient, @history, order), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs'

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
