%ul.nav.nav-pills
  %li.active{:role => "presentation"}
    = link_to 'History', admin_patient_histories_path(patient)
  %li{:role => "presentation"}
    = link_to 'Labs', admin_patient_histories_path(patient)
  %li{:role => "presentation"}
    = link_to 'Orders', admin_patient_histories_path(patient)
  %li{:role => "presentation"}
    = link_to 'PRNs', admin_patient_histories_path(patient)
  %li{:role => "presentation"}
    = link_to 'MARs', admin_patient_histories_path(patient)
