%h1 Listing orders

%table
  %thead
    %tr
      %th Date time
      %th Orders
      %th Verification
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.date_time
        %td= order.orders
        %td= order.verification
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
