.container
  = hidden_field :sketch, :data

  .form-group
    .row
      .col-md-8
        #datetime-picker

  = simple_form_for @submission, html: {class: 'form-horizontal'} do |f|
    - if @submission.errors.any?
      #error_explanation
        %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
        %ul
          - @submission.errors.full_messages.each do |msg|
            %li= msg
    -# = f.hidden_field :user_id, :value => current_user.id
    #editor
    = f.input :patient_initials
    = f.input :age
    = f.input :gender
    = f.input :admitting_primary_medical_diagnosis
    = f.input :week

    -# Display the Neurological/Muscular partial
    .well
      = render :partial => "submissions/partials/neurological_muscular", :locals => {:f => f}
    = f.submit
