.container
  = hidden_field :sketch, :data

  .form-group
    .row
      .col-md-8
        #datetime-picker

  = simple_form_for [@patient, @submission], html: {class: 'form-horizontal'} do |f|
    - if @submission.errors.any?
      #error_explanation
        %h2= "#{pluralize(@submission.errors.count, "error")} prohibited this submission from being saved:"
        %ul
          - @submission.errors.full_messages.each do |msg|
            %li= msg
    -# = f.hidden_field :user_id, :value => current_user.id
    #editor
    = f.input :patient_initials
    = f.input :age
    = f.input :gender
    = f.input :admitting_primary_medical_diagnosis
    = f.label :week, :label => "Hello"
    = f.input :week, :label => false

    -# Display the Neurological/Muscular partial
    .well
      = render :partial => "submissions/partials/neurological_muscular", :locals => {:f => f}
    = f.submit

    -# .well
    -#   = render :partial => "submissions/partials/psychosocial", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/respiratory_o2therapy", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/cardiovascular", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/gastrointestinal", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/nutrition", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/skin_mucuous_membrane", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/iv_therapy", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/genitourinary", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/skin_assessment", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/pain_assessment", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/adl_flowsheet", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/skin_risk_assessment_screen", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/vte_risk_management", :locals => {:f => f}
    -# = f.submit
    -#
    -# .well
    -#   = render :partial => "submissions/partials/page_9", :locals => {:f => f}
    = f.submit
