= render partial: "layouts/flash_messages", flash: notice
%h1
  Welcome
  - if logged_in?
    = current_user.first_name + "!"

%hr
- if logged_in?
  .row
    .col-md-7
      %h3
        %span.label.label-default.label-utep.orange In Progress

      - if !current_user.submissions.empty?
        = render "in_progress"

      %h3
        %span.label.label-default.label-utep.blue Completed Forms
      = render "completed_forms"

    %hr

    .col-md-5
      %h3 Patient List
      .patient-list
        .table-responsive
          %table.table.datatable
            %thead
              %tr
                %th Name
                %th Actions
            %tbody
              - @patients.each do |patient|
                %tr
                  %td
                    = link_to patient_path(patient) do
                      = patient.name
                  %td
                    = link_to '+ New Submission', new_patient_submission_path(patient), :class => "btn btn-default"



- else
  %h3 Please Login
