= render partial: "layouts/flash_messages", flash: notice
%h1
  Welcome
  - if logged_in?
    = current_user.first_name + "!"

%hr
- if logged_in?
  .row
    .col-md-7
      %h3
        %span.label.label-default.label-utep.orange In Progress

      - if !current_user.submissions.empty?
        = render "in_progress"

      %hr

      %h3
        %span.label.label-default.label-utep.blue Completed Forms
      = render "completed_forms"

    .col-md-5
      %h3 Patient List
      = render "patient_list"


- else
  %h3 Please Login
