%h1
.alert.alert-info{:role => "alert"} Make sure to save your changes periodically
#rootwizard
  #bar.progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar", :style => "width: 0%;"}

  .col-md-12.pager-buttons.no-padding
    %div{:style => "float:right"}
      = render("autosave")

      %button.btn.btn-default.button-save{:type => "button"}
        %i.fa.fa-floppy-o{"aria-hidden" => "true"}
      %button.btn.btn-default.button-next{:type => "button"}
        %i.fa.fa-arrow-right.pull-right{"aria-hidden" => "true"}
        Next

    %div{:style => "float:left"}
      %button.btn.btn-default.button-previous{:type => "button"}
        %i.fa.fa-arrow-left.pull-left{"aria-hidden" => "true"}
        Previous

  .col-sm-3.left-tabs
    %ul.nav.nav-tabs.tabs-left
      %li.active
        %a{"data-toggle" => "tab", :href => "#a"} Basic Information
      %li
        %a{"data-toggle" => "tab", :href => "#b"} Neurological/Muscular
      %li
        %a{"data-toggle" => "tab", :href => "#c"} Psychosocial
      %li
        %a{"data-toggle" => "tab", :href => "#d"} Respiratory/O2 Therapy
      %li
        %a{"data-toggle" => "tab", :href => "#e"} Cardiovascular
      %li
        %a{"data-toggle" => "tab", :href => "#f"} Gastrointestinal
      %li
        %a{"data-toggle" => "tab", :href => "#g"} Nutrition
      %li
        %a{"data-toggle" => "tab", :href => "#h"} Skin/Mucuous Membranes
      %li
        %a{"data-toggle" => "tab", :href => "#i"} IV Therapy
      %li
        %a{"data-toggle" => "tab", :href => "#j"} Genitourinary
      %li
        %a{"data-toggle" => "tab", :href => "#k"} Skin Assessment
      %li
        %a{"data-toggle" => "tab", :href => "#l"} Pain Assessment
      %li
        %a{"data-toggle" => "tab", :href => "#m"} ADL Flowsheet
      %li
        %a{"data-toggle" => "tab", :href => "#n"} Skin Risk Assessment Screen
      %li
        %a{"data-toggle" => "tab", :href => "#o"} VTE Risk Assessment
      %li
        %a{"data-toggle" => "tab", :href => "#p"} Peripheral IV Documentation
      %li
        %a{"data-toggle" => "tab", :href => "#q"} Indwelling Urinary Catheter Documentation
      %li
        %a{"data-toggle" => "tab", :href => "#r"} Vital Signs Documentation
      %li
        %a{"data-toggle" => "tab", :href => "#s"} Review and Submit


  .col-sm-9
    = simple_form_for @submission, html: {class: ''} do |f|
      .tab-content

        #a.tab-pane.active
          .col-md-12.well
          %h2 Basic Information
          = f.hidden_field :user_id, :value => current_user.id
          .col-md-6.well
            = f.input :patient_initials, :class => "form-control", required: true
          .col-md-6.well
            = f.input :age, required: true
          .col-md-12.gender-selector.well
            = f.input :gender, :collection => [['Male', 'Male'], ['Female', 'Female']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.gender, :class => "form-control", required: true
          .col-md-12.well
            = f.label :admitting_primary_medical_diagnosis, required: true
            = f.text_area :admitting_primary_medical_diagnosis, :placeholder => "Enter text here...", :class => "tinymce form-control", :rows => 4, :cols => 120
          .col-md-12.date-selector.well
            = f.input :week, :class => "daterange-picker", :as => :string, required: true

        #b.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Neurological/Muscular
          .form-group
            = render :partial => "submissions/partials/neurological_muscular", :locals => {:f => f}


        #c.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Psychosocial
          .form-group
            = render :partial => "submissions/partials/psychosocial", :locals => {:f => f}

        #d.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Respiratory/O2 Therapy
          .form-group
            = render :partial => "submissions/partials/respiratory_o2therapy", :locals => {:f => f}

        #e.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Cardiovascular
          .form-group
            = render :partial => "submissions/partials/cardiovascular", :locals => {:f => f}

        #f.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Gastrointestinal
          .form-group
            = render :partial => "submissions/partials/gastrointestinal", :locals => {:f => f}

        #g.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Nutrition
          .form-group
            = render :partial => "submissions/partials/nutrition", :locals => {:f => f}

        #h.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Skin/Mucuous Membranes
          .form-group
            = render :partial => "submissions/partials/skin_mucuous_membrane", :locals => {:f => f}

        #i.tab-pane
          .col-md-12.well
            %h3{:align => "center"} IV Therapy
          .form-group
            = render :partial => "submissions/partials/iv_therapy", :locals => {:f => f}

        #j.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Genitourinary
          .form-group
            = render :partial => "submissions/partials/genitourinary", :locals => {:f => f}

        #k.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Skin Assessment
          .form-group
            = render :partial => "submissions/partials/skin_assessment", :locals => {:f => f}

        #l.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Pain Assessment
          .form-group
            = render :partial => "submissions/partials/pain_assessment", :locals => {:f => f}

        #m.tab-pane
          .col-md-12.well
            %h3{:align => "center"} ADL Flowsheet
          .form-group
            = render :partial => "submissions/partials/adl_flowsheet", :locals => {:f => f}

        #n.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Skin Risk Assessment Screen
          .form-group
            = render :partial => "submissions/partials/skin_risk_assessment_screen", :locals => {:f => f}

        #o.tab-pane
          .col-md-12.well
            %h3{:align => "center"} VTE Risk Assessment
          .form-group
            = render :partial => "submissions/partials/vte_risk_assessment", :locals => {:f => f}

        #p.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Peripheral IV Documentation
          .form-group
            = render :partial => "submissions/partials/peripheral_iv_documentation", :locals => {:f => f}

        #q.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Indwelling Urinary Catheter Documentation
          .form-group
            = render :partial => "submissions/partials/indwelling_urinary_catheter_documentation", :locals => {:f => f}

        #r.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Vital Signs Documentation
          .form-group
            = render :partial => "submissions/partials/vital_signs_documentation", :locals => {:f => f}

        #s.tab-pane
          .col-md-12.well
            %h3{:align => "center"} Review and Submit
          .form-group
            = render :partial => "submissions/partials/review", :locals => {:f => f}


          - if !@submission.id.nil?
            = link_to 'Complete the form', submission_complete_the_form_path(@submission), :class => "btn btn-primary"
