%p#notice= notice

%p
  %b Patient initials:
  = @submission.patient_initials
%p
  %b Age:
  = @submission.age
%p
  %b Gender:
  = @submission.gender
%p
  %b Admitting primary medical diagnosis:
  = @submission.admitting_primary_medical_diagnosis
%p
  %b User:
  = @submission.user.first_name
%p
  %b week:
  = @submission.week

= link_to 'Edit', edit_submission_path(@submission)
\|
= link_to 'Back', submissions_path
