%h1 Listing mars

.col-md-8.history-information
  = render "layouts/patient_menu", :patient => @patient, :history => @history
  %hr
  %h1 MARs
  %hr
  %table.table.table-striped.datatable
    %thead
      %tr
        %th Medication
        %th Date Taken
        %th
    %tbody
      - @mars.each do |mar|
        %tr
          %td= mar.medication_mar
          %td.date-object= mar.date_and_time
          %td
            = link_to 'View', patient_history_mar_path(@patient, @history, mar), :class => "btn btn-default btn-xs"

.col-md-4.information-block
  %h2 Patient Details
  = render "admin/patient_block"
