.row
  .col-md-8.history-information
    = render "layouts/patient_menu", :patient => @patient, :history => @history
    %hr
.row
  .col-xs-8
    %h3 Medication Administration Record (MAR)
    .row
      .col-xs-4
        %p Name: #{@patient.name}
        %p
          Allergies:
          %span.allergies
            - if !@history.allergies.empty?
              = @history.allergies
            - else
              = "None"
      .col-xs-4
        %p MR#: #{@history.mr_number}

%hr

- @mars.each do |mar|
  %h4
    %span.label.label-warning
      Month:
      = Date::MONTHNAMES[mar.date_and_time.month] unless mar.date_and_time.nil?
      |
      Year:
      = mar.date_and_time.year unless mar.date_and_time.nil?

  .row.mars-wrapper{style: "margin:5px 0;"}
    .col-xs-2
      %strong
        Perscription:
      = mar.medication_mar

    .col-xs-10
      .col-xs-12
        .col-xs-1{:style => "background-color:#ECE064;"} Shift
        .col-xs-11
          - 31.times do |i|
            .mar-item-header
              .day= i+1

      .col-xs-12
        .col-xs-1 1st
        .col-xs-11
          - nurse_activities = mar.nurse_activities.where(shift_number: 1)
          - 31.times do |i|
            -if (nurse_activities.select { |x| x.created_at.day == i+1 }).empty?
              .mar-item.first-shift
                .initials

            - elsif !(nurse_activities.select { |x| x.created_at.day == i+1 }).empty?
              - activities = nurse_activities.select { |x| x.created_at.day == i+1 }
              .mar-item.first-shift
                .initials
                  = activities[0].initials

      .col-xs-12
        .col-xs-1 2nd
        .col-xs-11
          - nurse_activities = mar.nurse_activities.where(shift_number: 2)
          - 31.times do |i|
            -if (nurse_activities.select { |x| x.created_at.day == i+1 }).empty?
              .mar-item.second-shift
                .initials

            - elsif !(nurse_activities.select { |x| x.created_at.day == i+1 }).empty?
              - activities = nurse_activities.select { |x| x.created_at.day == i+1 }
              .mar-item.second-shift
                .initials
                  = activities[0].initials
  %hr
