.row
  .col-md-8.history-information
    = render "layouts/patient_menu", :patient => @patient, :history => @history
    %hr
  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
.row
  .col-xs-4.text-center
    %h3 Upper Rio Grande Regional Simulation Hospital
  .col-xs-8
    %h3 Medication Administration Record (MAR)
    .row
      .col-xs-4
        %p Name: #{@patient.name}
        %p Month: May
      .col-xs-4
        %p &nbsp;
        %p Year: 2017
      .col-xs-4
        %p MR#: 123456789
        %p Allergies: None
%hr
.row.mar
  .col-xs-3.p-5.mark.text-center
    %strong Medication
  .col-xs-1.text-center
    .mark Time
  .col-xs-8
    .row
      .col-xs-12
        %table
          %tr
          - 31.times do |d|
            %th.monthDay.mark{ :id => "#{d+1}" } #{d+1}
.row.mar
  %table.col-xs-12
    %tr.row
      %td.col-xs-3.p-5{:style => "font-size:12px;"} two tequila shots
      %td.col-xs-1.text-center
        %table
          %tr
            %td{ :style => "font-size:12px;"} morning
          %tr
            %td{ :style => "font-size:12px;"} evening
      %td.col-xs-8
        %table
          %tr
            %td{ :style => "font-size:12px;"} AM
          %tr
            %td
            %td{ :style => "font-size:12px;"} AM
    %tr.row
      %td.col-xs-3.p-5{ :style => "font-size:12px;"} two eggs, 2 cups of coffee with one ounce of whisky, one cigarrette, one aspirin, one melox tablet
      %td.col-xs-1.text-center
        %table
          %tr
            %td{ :style => "font-size:12px;"} morning
          %tr
            %td{ :style => "font-size:12px;"} evening
      %td.col-xs-8
        %table
          %tr
            %td
            %td{ :style => "font-size:12px;"} AM
          %tr
            %td{ :style => "font-size:12px;"} AM
            %td
