%h1 Listing patients

.col-md-8.well
  .table-responsive
    %table.table-hover.completed-table
      %thead
        %tr
          %th{:align => "center"} Name
          %th{:align => "center"} Age
          %th{:align => "center"} Gender
          %th
          %th
          %th
          %th

      %tbody
        - @patients.each do |patient|
          %tr
            %td= patient.name
            %td= patient.age
            %td= patient.gender
            %td= link_to 'Show', patient, :class => "btn btn-primary"
            %td= link_to 'Edit', edit_patient_path(patient), :class => "btn btn-primary"
            %td= link_to 'Show History', patient_histories_path(patient), :class => "btn btn-primary"
            %td= link_to 'Destroy', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary"

    %br
    .col-md-8.well
      = link_to 'New Patient', new_patient_path, :class => "btn btn-primary"
