.admin-page-wrapper

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"

  .col-md-8.history-information
    %h2 Histories
    = link_to 'New History +', new_admin_patient_history_url(@patient), class: "btn btn-success"
    %hr

    %table.table.datatable
      %thead
        %tr
          %th Date of Admission
          %th MR #
          %th Service
          %th

      %tbody
        - @histories.each do |history|
          %tr
            %td.date-object= history.date_of_admission
            %td= history.mr_number
            %td= history.service
            %td
              = link_to 'View', admin_patient_history_labs_path(@patient, history), :class => "btn btn-default btn-xs"
              = link_to 'Delete', admin_patient_history_path(@patient, history), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs'
