= f.input :hygiene, :string
= f.input :oral_care, :string
= f.input :dentures_present, :string
= f.input :perifoley_care, :string
= f.input :linen_change, :string
= f.input :bath, :string
= f.input :trach_care, :string
= f.input :activity, :string
= f.input :bed_rest, :string
= f.input :dangle, :string
= f.input :ambulate, :string
= f.input :transfer_chair, :string
= f.input :bathroom_privileges_bsc, :string
= f.input :position_change, :string
= f.input :ad_lib, :string
= f.input :safety, :string
= f.input :name_allergy_band, :string
= f.input :bed_low_position_locked, :string
= f.input :side_rails_up1234, :string
= f.input :non_skid_footwear, :string
= f.input :call_light_in_reach, :string
= f.input :fall_precautions, :string
= f.input :seizure_precautions, :string
= f.input :isolation, :string
= f.input :bed_check, :string
= f.input :posey_wrap, :string
= f.input :ambu_bag, :string
= f.input :suction_correct_setup, :string
= f.input :alarms_limits, :string
= f.input :equipment, :string
= f.input :iv_pumps, :string
= f.input :feeding_pump, :string
= f.input :pca_pump, :string
= f.input :incentive_spirometer, :string
= f.input :pulse_oximeter, :string
= f.input :trapeze, :string
= f.input :sequential_compression_device, :string
= f.input :k_pad, :string
= f.input :nibp, :string
= f.input :continuous_passive_motion, :string
= f.input :traction_type, :string
= f.input :mattress_overlay, :string
= f.input :walker, :string
= f.input :speciality_bed, :string
= f.input :hypo_hyperthemia_blanket, :string
= f.input :bedside_commode, :string
= f.input :abductor_pillow, :string
= f.input :wound_vac, :string
= f.input :humidifier, :string
= f.input :heat_lamp, :string
= f.input :o2_tank, :string
= f.input :other, :string
