= f.input :hygiene
= f.input :oral_care
= f.input :dentures_present
= f.input :perifoley_care
= f.input :linen_change
= f.input :bath
= f.input :trach_care
= f.input :activity
= f.input :bed_rest
= f.input :dangle
= f.input :ambulate
= f.input :transfer_chair
= f.input :bathroom_privileges_bsc
= f.input :position_change
= f.input :ad_lib
= f.input :safety
= f.input :name_allergy_band
= f.input :bed_low_position_locked
= f.input :side_rails_up1234
= f.input :non_skid_footwear
= f.input :call_light_in_reach
= f.input :fall_precautions
= f.input :seizure_precautions
= f.input :isolation
= f.input :bed_check
= f.input :posey_wrap
= f.input :ambu_bag
= f.input :suction_correct_setup
= f.input :alarms_limits
= f.input :equipment
= f.input :iv_pumps
= f.input :feeding_pump
= f.input :pca_pump
= f.input :incentive_spirometer
= f.input :pulse_oximeter
= f.input :trapeze
= f.input :sequential_compression_device
= f.input :k_pad
= f.input :nibp
= f.input :continuous_passive_motion
= f.input :traction_type
= f.input :mattress_overlay
= f.input :walker
= f.input :speciality_bed
= f.input :hypo_hyperthemia_blanket
= f.input :bedside_commode
= f.input :abductor_pillow
= f.input :wound_vac
= f.input :humidifier
= f.input :heat_lamp
= f.input :o2_tank
= f.input :other_two
