.col-md-12.well
  %h5{:align => "center"} (Insert Code, Initials, Date and Time)
  %h3{:align => "center"} Hygiene
  = f.input :oral_care, :class => "form-control", :label => "Oral Care"
  = f.input :dentures_present, :class => "form-control", :label => "Dentures Present"
  = f.input :perifoley_care, :class => "form-control", :label => "Perifoley Care"
  = f.input :linen_change, :class => "form-control", :label => "Linen Change"
  = f.input :bath, :class => "form-control"
  = f.input :trach_care, :class => "form-control", :label => "Trach Care"

.col-md-12.well
  %h5{:align => "center"} (C = Complete P = Partial I = Independent A = Assist S = Shower SB = Sitz bath)
  %h3{:align => "center"} Activity
  = f.input :bed_rest, :class => "form-control", :label => "Bed Rest"
  = f.input :dangle, :class => "form-control", :label => "Dangle"
  = f.input :ambulate, :class => "form-control"
  = f.input :transfer_chair, :class => "form-control", :label => "Transfer Chair"
  = f.input :bathroom_privileges_bsc, :class => "form-control", :label => "Bathroom Privileges BSC"
  = f.input :position_change, :class => "form-control", :label => "Position Change"
  = f.input :ad_lib, :class => "form-control", :label => "Ad Lib"

.col-md-12.well
  %h5{:align => "center"} (Indicate below by Initials I = Independent A = Assist)
  %h3{:align => "center"} Safety
  = f.input :name_allergy_band, :class => "form-control", :label => "Name/Allergy/Band"
  = f.input :bed_low_position_locked, :class => "form-control", :label => "Bed Low Position/Locked"
  = f.input :side_rails_up1234, :class => "form-control", :label => "Side Rails Up 1 2 3 4"
  = f.input :non_skid_footwear, :class => "form-control", :label => "Non-Skid Footwear"
  = f.input :call_light_in_reach, :class => "form-control", :label => "Call Light in Reach"
  = f.input :fall_precautions, :class => "form-control", :label => "Fall Precautions"
  = f.input :seizure_precautions, :class => "form-control", :label => "Seizure Precautions"
  = f.input :isolation, :class => "form-control"
  = f.input :bed_check, :class => "form-control", :label => "Bed Check"
  = f.input :posey_wrap, :class => "form-control", :label => "Posey Wrap"
  = f.input :ambu_bag, :class => "form-control", :label => "Ambu Bag"
  = f.input :suction_and_correct_setup, :class => "form-control", :label => "Suction and Corrrect Setup"
  = f.input :alarms_and_limits, :class => "form-control", :label => "Alarms and Limits"

.col-md-12.well
  %h5{:align => "center"} (Below: Indicate by Initials)
  %h3{:align => "center"} Equipment
  = f.input :iv_pumps, :class => "form-control", :label => "IV Pumps"
  = f.input :feeding_pump, :class => "form-control", :label => "Feeding Pump"
  = f.input :pca_pump, :class => "form-control", :label => "PCA Pump"
  = f.input :incentive_spirometer, :class => "form-control", :label => "Incentive Spirometer"
  = f.input :pulse_oximeter, :class => "form-control", :label => "Pulse Oximeter"
  = f.input :trapeze, :class => "form-control"
  = f.input :sequential_compression_device, :class => "form-control", :label => "Sequential Compression Device"
  = f.input :k_pad, :class => "form-control", :label => "K-Pad"
  = f.input :nibp, :class => "form-control", :label => "NIBP"
  = f.input :continuous_passive_motion, :class => "form-control", :label => "Continuous Passive Motion"
  = f.input :traction_type, :class => "form-control", :label => "Traction Type"
  = f.input :mattress_overlay, :class => "form-control", :label => "Mattress Overlay"
  = f.input :walker, :class => "form-control"
  = f.input :speciality_bed, :class => "form-control", :label => "Speciality Bed"
  = f.input :hypo_hyperthemia_blanket, :class => "form-control", :label => "Hypo/Hyperthemia Blanket"
  = f.input :bedside_commode, :class => "form-control", :label => "Bedside Commode"
  = f.input :abductor_pillow, :class => "form-control", :label => "Abductor Pillow"
  = f.input :wound_vac, :class => "form-control", :label => "Wound Vac"
  = f.input :humidifier, :class => "form-control"
  = f.input :heat_lamp, :class => "form-control", :label => "Heat Lamp"
  = f.input :o2_tank, :class => "form-control", :label => "O2 Tank"
  = f.input :other_equipment, :class => "form-control", :label => "Other Equipment"



-# = f.input :hygiene
-# = f.input :oral_care
-# = f.input :dentures_present
-# = f.input :perifoley_care
-# = f.input :linen_change
-# = f.input :bath
-# = f.input :trach_care
-# = f.input :activity
-# = f.input :bed_rest
-# = f.input :dangle
-# = f.input :ambulate
-# = f.input :transfer_chair
-# = f.input :bathroom_privileges_bsc
-# = f.input :position_change
-# = f.input :ad_lib
-# = f.input :safety
-# = f.input :name_allergy_band
-# = f.input :bed_low_position_locked
-# = f.input :side_rails_up1234
-# = f.input :non_skid_footwear
-# = f.input :call_light_in_reach
-# = f.input :fall_precautions
-# = f.input :seizure_precautions
-# = f.input :isolation
-# = f.input :bed_check
-# = f.input :posey_wrap
-# = f.input :ambu_bag
-# = f.input :suction_correct_setup
-# = f.input :alarms_limits
-# = f.input :equipment
-# = f.input :iv_pumps
-# = f.input :feeding_pump
-# = f.input :pca_pump
-# = f.input :incentive_spirometer
-# = f.input :pulse_oximeter
-# = f.input :trapeze
-# = f.input :sequential_compression_device
-# = f.input :k_pad
-# = f.input :nibp
-# = f.input :continuous_passive_motion
-# = f.input :traction_type
-# = f.input :mattress_overlay
-# = f.input :walker
-# = f.input :speciality_bed
-# = f.input :hypo_hyperthemia_blanket
-# = f.input :bedside_commode
-# = f.input :abductor_pillow
-# = f.input :wound_vac
-# = f.input :humidifier
-# = f.input :heat_lamp
-# = f.input :o2_tank
-# = f.input :adl_other
