%h3 PULSES
%hr

.col-md-12.well
  %h4 Indicate R (right), L (left), or B (bilateral)
  .table-responsive
    %table.table.table-striped.cardiovascular-table
      %thead
        %tr
          %th
          %th (0) Absent
          %th (+1) Weak
          %th (+2) Normal
          %th (+3) Full
          %th (+4) Bounding
          %th DP Doppler
      %tbody
        %tr
          %th{:scope => "row"} Radial
          %td= f.input :radial_absent, :label => false
          %td= f.input :radial_weak, :label => false
          %td= f.input :radial_normal, :label => false
          %td= f.input :radial_full, :label => false
          %td= f.input :radial_bounding, :label => false
          %td= f.input :radial_dp_doppler, :label => false
        %tr
          %th{:scope => "row"} Femoral
          %td= f.input :femoral_absent, :label => false
          %td= f.input :femoral_weak, :label => false
          %td= f.input :femoral_normal, :label => false
          %td= f.input :femoral_full, :label => false
          %td= f.input :femoral_bounding, :label => false
          %td= f.input :femoral_dp_doppler, :label => false
        %tr
          %th{:scope => "row"} Popliteal
          %td= f.input :popliteal_absent, :label => false
          %td= f.input :popliteal_weak, :label => false
          %td= f.input :popliteal_normal, :label => false
          %td= f.input :popliteal_full, :label => false
          %td= f.input :popliteal_bounding, :label => false
          %td= f.input :popliteal_dp_doppler, :label => false
        %tr
          %th{:scope => "row"} Dorsalis Pedis
          %td= f.input :dorsalis_pedis_absent, :label => false
          %td= f.input :dorsalis_pedis_weak, :label => false
          %td= f.input :dorsalis_pedis_normal, :label => false
          %td= f.input :dorsalis_pedis_full, :label => false
          %td= f.input :dorsalis_pedis_bounding, :label => false
          %td= f.input :dorsalis_pedis_dp_doppler, :label => false
        %tr
          %th{:scope => "row"} Posterior Tibialis
          %td= f.input :posterior_tibialis_absent, :label => false
          %td= f.input :posterior_tibialis_weak, :label => false
          %td= f.input :posterior_tibialis_normal, :label => false
          %td= f.input :posterior_tibialis_full, :label => false
          %td= f.input :posterior_tibialis_bounding, :label => false
          %td= f.input :posterior_tibialis_dp_doppler, :label => false


.col-md-6.well
  = f.input :heart_sounds, :collection => [['S1', 'S1'], ['S2', 'S2'], ['S3', 'S3'], ['S4', 'S4'], ['Regular', 'Regular'], ['Irregular', 'Irregular'], ['Distant', 'Distant'], ['Murmur', 'Murmur'], ['Rub', 'Rub']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :checked => @submission.heart_sounds, :class => "form-control", :label => "Heart Sounds"

.col-md-6.well
  = f.input :edema, :collection => [['na', 'NA'], ['pitting', 'Pitting'], ['non pitting', 'Non Pitting']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.edema, :class => "form-control"
  = f.input :edema_where, :class => "form-control", :label => "Specify Edema"

.col-md-12.well
  = f.input :capillary_refill, :collection => [['>3 sec', '>3 sec'], ['<3 sec', '<3 sec']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.capillary_refill, :class => "form-control", :label => "Capillary Refill"

.col-md-12.well
  = f.input :cardiac_rhythm, :collection => [['nsr', 'NSR'], ['sinus tachy', 'Sinus Tachy'], ['sinus brady', 'Sinus Brady'], ['A-Fib', 'A-Fib'], ['A-Flutter', 'A-Flutter'], ['junctional', 'Junctional'], ['paced rhythm', 'Paced Rhythm'], ['ectopy', 'Ectopy(specify)']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.cardiac_rhythm, :class => "form-control", :label => "Cardiac Rhythm"
  = f.input :specify_ectopy, :class => "form-control", :label => "Specify Ectopy"
  -# = f.input :, :collection => [['paced rhythm', 'Paced Rhythm']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :other_cardiac_rhythm, :class => "form-control", :label => "Other Cardiac Rhythm"
  = f.input :cardiac_rhythm_comments, :class => "form-control", :label => "Comments"

.col-md-12.well
  = f.input :pacemaker, :collection => [['na', 'NA'], ['temporary', 'Temporary'], ['permanent', 'Permanent'], ['implanted icd', 'Implanted ICD']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.pacemaker, :class => "form-control"

.col-md-12.well
  %h4 Pacemaker Settings
  = f.input :ma, :class => "form-control", :label => "MA"
  = f.input :rate, :class => "form-control", :label => "Rate"
  = f.input :sens, :class => "form-control", :label => "Sens"
  = f.input :pacemaker_site, :class => "form-control", :label => "Pacemaker Site"

.col-md-12.well
  %h4 Arterial Line
  = f.input :site, :class => "form-control"

.col-md-12.well
  = f.input :waveform, :collection => [['square wave tested', 'Square Wave Tested'], ['dampened', 'Dampened'], ['positional', 'Positional']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.waveform, :class => "form-control"
  = f.input :waveform_comments, :class => "form-control", :label => "Comments"

.col-md-12.well
  %h4 PA Catheter
  = f.input :pa_catheter_site, :class => "form-control", :label => "PA Catheter Site"

.col-md-12.well
  = f.input :waveform_for_pa_catheter, :collection => [['square wave tested', 'Square Wave Tested'], ['dampened', 'Dampened'], ['positional', 'Positional']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.waveform_for_pa_catheter, :class => "form-control", :label => "Waveform for PA Catheter"
  -# = f.input :wedges, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.wedges, :class => "form-control"
  = f.input :waveform_pa_catheter_comments, :class => "form-control", :label => "Comments"

.col-md-12.well
  %h4 IABP
  = f.input :insertion_site, :class => "form-control", :label => "Insertion Site"
  = f.input :IABP_number_of_days, :class => "form-control", :label => "IABP Number of Days"

.col-md-12.well
  = f.input :trigger, :collection => [['ekg', 'EKG'], ['a line', 'A-Line'], ['afib', 'Afib'], ['apace', 'Apace'], ['vpace', 'Vpace']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.trigger, :class => "form-control"

.col-md-12.well
  = f.input :freq, :collection => [['1:1', '1:1'], ['1:2', '1:2'], ['1:3', '1:3'], ['1:4', '1:4'], ['1:8', '1:8']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.freq, :class => "form-control"
