
= f.input :pulses, :string
= f.input :radial, :string
= f.input :femoral, :string
= f.input :popliteal, :string
= f.input :dorsalis_pedis, :string
= f.input :posterior_tibialis, :string
= f.input :heart_sounds, :string
= f.input :edema, :string
= f.input :capillary_refill, :string
= f.input :cardiac_rhythm, :string
= f.input :comments_four, :string
= f.input :pacemaker, :string
= f.input :pacemaker_settings, :string
= f.input :arterial_line, :string
= f.input :waveform, :string
= f.input :comments_five, :string
= f.input :pa_catcher, :string
= f.input :waveform, :string
= f.input :comments_six, :string
= f.input :iabp, :string
= f.input :trigger, :string
= f.input :freq, :string
