%h3 PULSES
%hr
.col-md-12
%h5 Indiacate R (right), L (left), or B (bilateral)
  .col-md-4.well
    %h4 Absent (0)
    = f.label :radial_absent, "Radial"
    = f.input :radial_absent, collection: R, L, B, prompt: "Select value", label: false
    = f.label :femoral_absent, "Femoral"
    = f.input :femoral_absent, collection: R, L, B, prompt: "Select value", label: false
    = f.label :popliteal_absent, "Popliteal"
    = f.input :popliteal_absent, collection: R, L, B, prompt: "Select value", label: false
    = f.label :dorsalis_pedis_absent, "Dorsalis Pedis"
    = f.input :dorsalis_pedis_absent, collection: R, L, B, prompt: "Select value", label: false
  .col-md-4.well
    %h4 Weak (+1)
    = f.label :radial_weak, "Radial"
    = f.input :radial_weak, collection: R, L, B, prompt: "Select value", label: false
    = f.label :femoral_weak, "Femoral"
    = f.input :femoral_weak, collection: R, L, B, prompt: "Select value", label: false
    = f.label :popliteal_weak, "Popliteal"
    = f.input :popliteal_weak, collection: R, L, B, prompt: "Select value", label: false
    = f.label :dorsalis_pedis_weak, "Dorsalis Pedis"
    = f.input :dorsalis_pedis_weak, collection: R, L, B, prompt: "Select value", label: false
  .col-md-4.well
    %h4 Normal (+2)
    = f.label :radial_normal, "Radial"
    = f.input :radial_normal, collection: R, L, B, prompt: "Select value", label: false
    = f.label :femoral_normal, "Femoral"
    = f.input :femoral_normal, collection: R, L, B, prompt: "Select value", label: false
    = f.label :popliteal_normal, "Popliteal"
    = f.input :popliteal_normal, collection: R, L, B, prompt: "Select value", label: false
    = f.label :dorsalis_pedis_normal, "Dorsalis Pedis"
    = f.input :dorsalis_pedis_normal, collection: R, L, B, prompt: "Select value", label: false
  .col-md-4.well
    %h4 Full (+3)
    = f.label :radial_full, "Radial"
    = f.input :radial_full, collection: R, L, B, prompt: "Select value", label: false
    = f.label :femoral_full, "Femoral"
    = f.input :femoral_full, collection: R, L, B, prompt: "Select value", label: false
    = f.label :popliteal_full, "Popliteal"
    = f.input :popliteal_full, collection: R, L, B, prompt: "Select value", label: false
    = f.label :dorsalis_pedis_full, "Dorsalis Pedis"
    = f.input :dorsalis_pedis_full, collection: R, L, B, prompt: "Select value", label: false
  .col-md-4.well
    %h4 Bounding (+4)
    = f.label :radial_bounding, "Radial"
    = f.input :radial_bounding, collection: R, L, B, prompt: "Select value", label: false
    = f.label :femoral_bounding, "Femoral"
    = f.input :femoral_bounding, collection: R, L, B, prompt: "Select value", label: false
    = f.label :popliteal_bounding, "Popliteal"
    = f.input :popliteal_bounding, collection: R, L, B, prompt: "Select value", label: false
    = f.label :dorsalis_pedis_bounding, "Dorsalis Pedis"
    = f.input :dorsalis_pedis_bounding, collection: R, L, B, prompt: "Select value", label: false
   .col-md-4.well
     %h4 DP Doppler
     = f.label :radial_dp_doppler, "Radial"
     = f.input :radial_dp_doppler, collection: R, L, B, prompt: "Select value", label: false
     = f.label :femoral_dp_doppler, "Femoral"
     = f.input :femoral_dp_doppler, collection: R, L, B, prompt: "Select value", label: false
     = f.label :popliteal_dp_doppler, "Popliteal"
     = f.input :popliteal_dp_doppler, collection: R, L, B, prompt: "Select value", label: false
     = f.label :dorsalis_pedis_dp_doppler, "Dorsalis Pedis"
     = f.input :dorsalis_pedis_dp_doppler, collection: R, L, B, prompt: "Select value", label: false

.col-md-12
  = f.input :heart_sounds, :collection => [['s1', 'S1'], ['s2', 'S2'], ['s3', 'S3'], ['s4', 'S4'], ['regular', 'Regular'], ['irregular', 'Irregular'], ['distant', 'Distant'], ['murmur', 'Murmur'], ['rub', 'Rub']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  = f.input :edema, :collection => [['na', 'NA'], ['pitting', 'Pitting'], ['non pitting', 'Non Pitting']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :edema_where, :class => "form-control"

.col-md-12
  = f.input :capillary_refill, :collection => [['>3 sec', '>3 sec'], ['<3 sec', '<3 sec']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  = f.input :cardiac_rhythm, :collection => [['nsr', 'NSR'], ['sinus tachy', 'Sinus Tachy'], ['sinus brady', 'Sinus Brady'], ['a fib', 'A-Fib'], ['a flutter', 'A-Flutter'], ['junctional', 'Junctional'], ['paced rhythm', 'Paced Rhythm'], ['ectopy', 'Ectopy(specify)']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :specify_ectopy, :class => "form-control"
  -# = f.input :, :collection => [['paced rhythm', 'Paced Rhythm']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :other_cardiac_rhythm, :class => "form-control"
  = f.input :cardiac_rhythm_comments, :class => "form-control"

.col-md-12
  = f.input :pacemaker, :collection => [['na', 'NA'], ['temporary', 'Temporary'], ['permanent', 'Permanent'], ['implanted icd', 'Implanted ICD']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  %h4 Pacemaker Settings
  = f.input :ma, :class => "form-control"
  = f.input :rate, :class => "form-control"
  = f.input :sens, :class => "form-control"
  = f.input :pacemaker_site, :class => "form-control"

.col-md-12
  %h4 Arterial Line
  = f.input :site, :class => "form-control"

.col-md-12
  = f.input :waveform, :collection => [['square wave tested', 'Square Wave Tested'], ['dampened', 'Dampened'], ['positional', 'Positional']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :waveform_comments, :class => "form-control"

.col-md-12
  %h4 PA Catheter
  = f.input :pa_catheter_site, :class => "form-control"

.col-md-12
  = f.input :waveform_for_pa_catheter, :collection => [['square wave tested', 'Square Wave Tested'], ['dampened', 'Dampened'], ['positional', 'Positional']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :wedges, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :waveform_pa_catheter_comments, :class => "form-control"

.col-md-12
  %h4 IABP
  = f.input :insertion_site, :class => "form-control"

.col-md-12
  = f.input :trigger, :collection => [['ekg', 'EKG'], ['a line', 'A-Line'], ['afib', 'Afib'], ['apace', 'Apace'], ['vpace', 'Vpace']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  = f.input :freq, :collection => [['1:1', '1:1'], ['1:2', '1:2'], ['1:3', '1:3'], ['1:4', '1:4'], ['1:8', '1:8']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"







-# = f.input :pulses
-# = f.input :radial
-# = f.input :femoral
-# = f.input :popliteal
-# = f.input :dorsalis_pedis
-# = f.input :posterior_tibialis
-# = f.input :pulses_absent
-# = f.input :pulses_weak
-# = f.input :pulses_normal
-# = f.input :pulses_full
-# = f.input :pulses_bounding
-# = f.input :pulses_dp_doppler
-# = f.input :heart_sounds
-# = f.input :edema
-# = f.input :capillary_refill
-# = f.input :cardiac_rhythm
-# = f.input :cardiac_rhythm_comments
-# = f.input :pacemaker
-# = f.input :pacemaker_settings
-# = f.input :arterial_line
-# = f.input :waveform
-# = f.input :waveform_comments
-# = f.input :pa_catcher
-# = f.input :waveform_two
-# = f.input :waveform_two_comments
-# = f.input :iabp
-# = f.input :trigger
-# = f.input :freq
