
= f.input :pulses
= f.input :radial
= f.input :femoral
= f.input :popliteal
= f.input :dorsalis_pedis
= f.input :posterior_tibialis
= f.input :heart_sounds
= f.input :edema
= f.input :capillary_refill
= f.input :cardiac_rhythm
= f.input :cardiac_rhythm_comments
= f.input :pacemaker
= f.input :pacemaker_settings
= f.input :arterial_line
= f.input :waveform
= f.input :waveform_comments
= f.input :pa_catcher
= f.input :waveform_two
= f.input :waveform_two_comments
= f.input :iabp
= f.input :trigger
= f.input :freq
