= f.input :abdomen
= f.input :bowel_sounds
= f.input :ngt
= f.input :gastronomy
= f.input :jejunostomy
= f.input :feeding_tube
= f.input :type
= f.input :size
= f.input :position
= f.input :drainage_color
= f.input :drainage_color_comments
