= f.input :abdomen, :string
= f.input :bowel_sounds, :string
= f.input :ngt, :string
= f.input :gastronomy, :string
= f.input :jejunostomy, :string
= f.input :feeding_tube, :string
= f.input :type, :string
= f.input :size, :string
= f.input :position, :string
= f.input :drainage_color, :string
= f.input :comments_seven, :string
