= f.input :best_eye_opening_response
= f.input :best_verbal_response
= f.input :best_motor_response
= f.input :patient_total_score
= f.input :glasgow_coma_score_quality
= f.input :gag_reflex
= f.input :speech
= f.input :hearing
= f.input :face
= f.input :tongue
= f.input :strength
= f.input :weakness
= f.input :contracture
= f.input :flaccid
= f.input :spastic
= f.input :paresis
= f.input :other
