-# #editor
-# = hidden_field :sketch, :data

%h3 Pupils
%hr
.col-md-12
  .col-md-4.well
    %h4 Left Eye
    = f.label :pupils_brisk_left, "Brisk"
    = f.input :pupils_brisk_left, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_sluggish_left, "Sluggish"
    = f.input :pupils_sluggish_left, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_fixed_left, "Fixed"
    = f.input :pupils_fixed_left, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_size_left, "Size (mm)"
    = f.input :pupils_size_left, collection: 2..9, prompt: "Select value", label: false
  .col-md-4.well
    %h4 Right Eye
    = f.label :pupils_brisk_right, "Brisk"
    = f.input :pupils_brisk_right, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_sluggish_right, "Sluggish"
    = f.input :pupils_sluggish_right, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_fixed_right, "Fixed"
    = f.input :pupils_fixed_right, collection: 2..9, prompt: "Select value", label: false
    = f.label :pupils_size_right, "Size (mm)"
    = f.input :pupils_size_right, collection: 2..9, prompt: "Select value", label: false
  .col-md-4
    = image_tag "pupil-gauge.jpg"


%h3 Glasgow Comma Score
%hr 
.col-md-4.well
  %h4 Best Eye Opening Response
  -# Best Eye Opening response addition system
  .form-group
    = f.input :best_eye_opening_response_values, :collection => [[4, 'Spontaneous'], [3, 'To Speech'], [2, 'To Pain'], [1, 'None'], [0, 'Eyes Closed by Edema']], :label_method => :last, :value_method => :first, :as => :check_boxes, :class => "form-control", :checked => @submission.best_eye_opening_response_values, :label => false

  -# Total Score
  = f.hidden_field :best_eye_opening_response, :value => ""
  = f.input :best_eye_opening_response, :class => "form-control", :disabled => true, :label => "Best Eye Opening ResponseScore"
  -# ========================

.col-md-4.well
  %h4 Best Verbal Response
  -# Best Eye Opening response addition system
  .form-group
    = f.input :best_verbal_response_values, :collection => [[5, 'Oriented'], [4, 'Confused'], [3, 'Inappropriate Words'], [2, 'Incomprehensible Sounds'], [1, 'None'], [0, 'ETT/Trach']], :label_method => :last, :value_method => :first, :as => :check_boxes, :class => "form-control", :checked => @submission.best_verbal_response_values, :label => false

  -# Total Score
  = f.hidden_field :best_verbal_response, :value => ""
  = f.input :best_verbal_response, :class => "form-control", :disabled => true, :label => "Best Verbal Response Total Score"
-# ===================================

.col-md-4.well
  %h4 Best Motor Response
  -# Best Eye Opening response addition system
  .form-group
    = f.input :best_motor_response_values, :collection => [[5, 'Obeys Commands'], [4, 'Localizes (Pain)'], [3, 'Withdraws (Pain)'], [2, 'Flexion (Pain)'], [1, 'Extension (Pain)'], [0, 'None']], :label_method => :last, :value_method => :first, :as => :check_boxes, :class => "form-control", :checked => @submission.best_motor_response_values, :label => false

  -# Total Score
  = f.hidden_field :best_motor_response, :value => ""
  = f.input :best_motor_response, :class => "form-control", :disabled => true, :label => "Best Motor Response Total Score"
-# =====================

.col-md-12.has-success
  .col-md-3.col-md-offset-9.well
    = f.input :patient_total_score, :class => "form-control", :label => "Patient's Total Score"
    = f.hidden_field :patient_total_score, :value => ""

-#grouping elements

%hr
.col-md-4.well
  = f.input :glasgow_coma_score_quality, :collection => [['Alert', 'Alert'], ['Lethargic', 'Lethargic'], ['Confused', 'Confused'], ['Follows Commands', 'Follows Commands'], ['Comatose', 'Comatose'], ['Sedated', 'Sedated'], ['Unable to Assess', 'Unable to Asses']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.glasgow_coma_score_quality, :label => "Glasgow Coma Score Quality"

.col-md-4.well
  = f.input :gag_reflex, :collection => [['Present', 'Present'], ['Absent', 'Absent']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.gag_reflex, :class => "form-control", :label => "Gag Reflex"

.col-md-4.well
  = f.input :speech, :collection => [['Clear', 'Clear'], ['Slurred', 'Slurred'], ['No Response', 'No Response'], ['Inappropriate', 'Inappropriate'], ['Incomprehensible', 'Incomprehensible'], ['Aphasic', 'Aphasic'], ['ETT/Trach', 'ETT/Trach']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.speech

.col-md-4.well
  = f.input :hearing, :collection => [['no obvious deficit', 'No Obvious Deficit'], ['hoh', 'HOH'], ['unable to assess', 'Unable to Assess'], ['deaf', 'Deaf']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.hearing, :class => "form-control"

.col-md-4.well
  = f.input :face, :collection => [['symmetrical', 'Symmetrical'], ['asymmetrical', 'Asymmetrical'], ['r', 'R'], ['l', 'L']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.face, :class => "form-control"

.col-md-4.well
  = f.input :tongue, :collection => [['Midline', 'Midline'], ['R', 'R'], ['L', 'L']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.tongue, :class => "form-control"

.col-md-12.well.strength-table
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th RUE
          %th LUE
          %th RLE
          %th LLE
      %tbody
        %tr
          %th{:scope => "row"} Weakness
          %td= f.input :strength_weakness_rue, :label => false
          %td= f.input :strength_weakness_lue, :label => false
          %td= f.input :strength_weakness_rle, :label => false
          %td= f.input :strength_weakness_lle, :label => false
        %tr
          %th{:scope => "row"} Contracture
          %td= f.input :strength_contracture_rue, :label => false
          %td= f.input :strength_contracture_lue, :label => false
          %td= f.input :strength_contracture_rle, :label => false
          %td= f.input :strength_contracture_lle, :label => false
        %tr
          %th{:scope => "row"} Flaccid
          %td= f.input :strength_flaccid_rue, :label => false
          %td= f.input :strength_flaccid_lue, :label => false
          %td= f.input :strength_flaccid_rle, :label => false
          %td= f.input :strength_flaccid_lle, :label => false
        %tr
          %th{:scope => "row"} Spastic
          %td= f.input :strength_spastic_rue, :label => false
          %td= f.input :strength_spastic_lue, :label => false
          %td= f.input :strength_spastic_rle, :label => false
          %td= f.input :strength_spastic_lle, :label => false
        %tr
          %th{:scope => "row"} Paresis
          %td= f.input :strength_paresis_rue, :label => false
          %td= f.input :strength_paresis_lue, :label => false
          %td= f.input :strength_paresis_rle, :label => false
          %td= f.input :strength_paresis_lle, :label => false
        %tr
          %th{:scope => "row"} Other
          %td= f.input :strength_other_rue, :label => false
          %td= f.input :strength_other_lue, :label => false
          %td= f.input :strength_other_rle, :label => false
          %td= f.input :strength_other_lle, :label => false

.col-md-12.well
  = f.label :strength_comments, :label => "Comments"
  = f.text_area :strength_comments, :class => "form-control"
