= f.input :diet, :string
= f.input :pureed, :string
= f.input :mechanical_soft, :string
= f.input :thickened_liquids, :string
= f.input :low_residue, :string
= f.input :breakfast, :string
= f.input :lunch, :string
= f.input :dinner, :string
= f.input :self, :string
= f.input :assist, :string
= f.input :feed, :string
= f.input :npo, :string
= f.input :tf, :string
= f.input :residual, :string
= f.input :placement, :string
= f.input :comments_eight, :string
