= f.input :diet
= f.input :diet_type
= f.input :breakfast
= f.input :lunch
= f.input :dinner
= f.input :taken_type
= f.input :tf
= f.input :residual
= f.input :placement
= f.input :placement_comments
