= f.input :diet, :string
= f.input :diet_type, :string
= f.input :breakfast, :integer
= f.input :lunch, :integer
= f.input :dinner, :integer
= f.input :taken_type, :string
= f.input :tf, :string
= f.input :residual, :string
= f.input :placement, :string
= f.input :comments_eight, :string
