= f.input :time, :integer
= f.input :t, :string
= f.input :p, :string
= f.input :r, :string
= f.input :b_p, :string
= f.input :sao2, :string
= f.input :pas_pad, :string
= f.input :pcwp, :string
= f.input :cvp, :string
= f.input :gcs, :string
= f.input :icp, :string
= f.input :i, :string
= f.input :o, :string
= f.input :other_ct_ngt_drains, :string
= f.input :titrated_meds_or_meds_treatment_based_on_patients_condition, :text
= f.input :other_relevant_notes, :text
