= f.input :time, :integer
= f.input :t, :integer
= f.input :p, :integer
= f.input :r, :integer
= f.input :b_p, :integer
= f.input :sao2, :integer
= f.input :pas_pad, :integer
= f.input :pcwp, :integer
= f.input :cvp, :integer
= f.input :gcs, :integer
= f.input :icp, :integer
= f.input :i, :integer
= f.input :o, :integer
= f.input :other_ct_ngt_drains, :integer
= f.input :titrated_meds_or_meds_treatment_based_on_patients_condition, :integer
= f.input :other_relevant_notes, :integer
