= f.input :pain_assessment
= f.input :verbal
= f.input :non_verbal
= f.input :scale_used
= f.input :other_symptoms_present
= f.input :additional_measures
= f.input :pain_scale
= f.input :pain_scale_rating_scale
= f.input :flacc_scale
= f.input :criteria
= f.input :score_0_flacc
= f.input :score_1_flacc
= f.input :score_2_flacc
= f.input :total_score_flacc
= f.input :critical_care_pain_observation_tool
= f.input :indicator
= f.input :score_0_cpot
= f.input :score_1_cpot
= f.input :score_2_cpot
= f.input :total_score_cpot
