%h4{:align => "center"} PAIN ASSESSMENT

.col-md-4
  = f.input :verbal, :collection => [['dull', 'Dull'], ['sharp', 'Sharp'], ['burning', 'Burning'], ['ache', 'Ache'], ['throbbing', 'Throbbing'], ['none', 'None']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.verbal

.col-md-4
  = f.input :non_verbal, :collection => [['use flacc', 'Use FLACC']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.non_verbal

.col-md-4
  = f.input :scale_used, :collection => [['numeric', 'Numeric'], ['faces', 'Faces'], ['flacc', 'FLACC'], ['cpot', 'CPOT']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.scale_used

.col-md-4
  = f.input :other_symptoms_present, :collection => [['sob', 'SOB'], ['vomiting', 'Vomiting'], ['guarding', 'Guarding'], ['paresthesia', 'Paresthesia'], ['none', 'None']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.other_symptoms_present

.col-md-4
  = f.input :additional_measures, :collection => [['remedicate', 'Remedicate'], ['notify md', 'Notify MD'], ['ice', 'ice'], ['heat', 'Heat'], ['relaxation distraction imagery', 'Relaxation Distraction Imagery'], ['patient declines', 'Patient Declines']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.additional_measures

.col-md-12
  %h4{:style => "margin-bottom: 50px;"} Pain Scale
  = f.input :pain_scale, :class => 'form-control', :input_html => {"data-slider-id" => "painScaleSlider", "data-slider-max" => "10", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => @submission.pain_scale}, :label => false

.col-md-12
  %h4{:style => "margin-bottom: 50px;"} Pain Scale
  - if @submission.pain_scale_rating_scale.nil?
    = f.input :pain_scale_rating_scale, :class => 'form-control', :input_html => {"data-slider-id" => "painScaleSlider", "data-slider-max" => "5", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => "0"}, :label => false
  - else
    = f.input :pain_scale_rating_scale, :class => 'form-control', :input_html => {"data-slider-id" => "painScaleSlider", "data-slider-max" => "5", "data-slider-min" => "0", "data-slider-step" => "1", "data-slider-value" => @submission.pain_scale_rating_scale}, :label => false


.col-md-12
  %h4{:align => "center"} FLACC SCALE (For Non-Verbal Patients)
  .table-responsive
    %table.table.table-striped.cardiovascular-table
      %thead
        %tr
          %th Criteria
          %th Score 0
          %th Score 1
          %th Score 2

      %tbody.flacc-scoring
        %tr
          %th{:scope => "row"} Face
          %td
            = f.check_box :flacc_scale_face_0, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_face_0}, 0
            = label_tag 'No particular expression or smile'
          %td
            = f.check_box :flacc_scale_face_1, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_face_1}, 1
            = label_tag 'occasional grimace or frown, withdrawn, uninterested'
          %td
            = f.check_box :flacc_scale_face_2, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_face_2}, 2
            = label_tag 'Frequent to constant quivering chin, clenched jaw'
        %tr
          %th{:scope => "row"} Legs
          %td
            = f.check_box :flacc_scale_legs_0, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_legs_0}, 0
            = label_tag 'Normal Position or Relaxed'
          %td
            = f.check_box :flacc_scale_legs_1, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_legs_1}, 1
            = label_tag 'Uneasy, Restless, Tense'
          %td
            = f.check_box :flacc_scale_legs_2, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_legs_2}, 2
            = label_tag 'Kicking, or legs drawn up'

        %tr
          %th{:scope => "row"} Activity
          %td
            = f.check_box :flacc_scale_activity_0, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_activity_0}, 0
            = label_tag 'Lying Quietly, normal position, moves easily'
          %td
            = f.check_box :flacc_scale_activity_1, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_activity_1}, 1
            = label_tag 'Squirming, shifting back and forth, tense'

          %td
            = f.check_box :flacc_scale_activity_2, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_activity_2}, 2
            = label_tag 'Arched, Rigid or jerking'

        %tr
          %th{:scope => "row"} Cry
          %td
            = f.check_box :flacc_scale_cry_0, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_cry_0}, 0
            = label_tag 'No cry (awake or asleep)'
          %td
            = f.check_box :flacc_scale_cry_1, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_cry_1}, 1
            = label_tag 'Moans or Whimpers; occasional complaint'
          %td
            = f.check_box :flacc_scale_cry_2, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_cry_2}, 2
            = label_tag 'Crying steadily, screams or sobs, frequent complaints'

        %tr
          %th{:scope => "row"} Consolability
          %td
            = f.check_box :flacc_scale_consolability_0, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_consolability_0}, 0
            = label_tag 'Content, relaxed'
          %td
            = f.check_box :flacc_scale_consolability_1, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_consolability_1}, 1
            = label_tag 'Reassured by occasional touching, hugging or being talked to, distractible'
          %td
            = f.check_box :flacc_scale_consolability_2, {:class => "calculable_checkbox", :checked => @submission.flacc_scale_consolability_2}, 2
            = label_tag 'Difficult to consgiole or comfort'
        %tr
          %th
          %td
          %td
          %td
            = f.hidden_field :flacc_scale_total_score, :value => "", :class => "calculated_total_field"
            = label_tag 'Total Score'
            = f.text_field("flacc_total_score", class: "form-control calculated_total_field", disabled: true, value: @submission.flacc_scale_total_score)


.col-md-12
  %h4{:align => "center"} Critical Care Pain Observation Tool (CPOT)(Document "Ventilator Compliance" or "Vocalization", but not both)
  .table-responsive
    %table.table.table-striped.cardiovascular-table
      %thead
        %tr
          %th Indicator
          %th Score 0
          %th Score 1
          %th Score 2

      %tbody.cpot-scoring
        %tr
          %th{:scope => "row"} Facial Expression
          %td
            = f.check_box :cpot_score_facial_expression_0, {:class => "calculable_checkbox", :checked => @submission.cpot_score_facial_expression_0}, 0
            = label_tag 'Relaxed; neutral'
          %td
            = f.check_box :cpot_score_facial_expression_1, {:class => "calculable_checkbox", :checked => @submission.cpot_score_facial_expression_1}, 1
            = label_tag 'Tense'
          %td
            = f.check_box :cpot_score_facial_expression_2, {:class => "calculable_checkbox", :checked => @submission.cpot_score_facial_expression_2}, 2
            = label_tag 'Grimacing'
        %tr
          %th{:scope => "row"} Body Movements
          %td
            = f.check_box :cpot_score_body_movements_0, {:class => "calculable_checkbox", :checked => @submission.cpot_score_body_movements_0}, 0
            = label_tag 'Absence of movements'
          %td
            = f.check_box :cpot_score_body_movements_1, {:class => "calculable_checkbox", :checked => @submission.cpot_score_body_movements_1}, 1
            = label_tag 'Protection'
          %td
            = f.check_box :cpot_score_body_movements_2, {:class => "calculable_checkbox", :checked => @submission.cpot_score_body_movements_2}, 2
            = label_tag 'Restlessness'

        %tr
          %th{:scope => "row"} Ventilator Compliance (Intubated Patients)
          %td
            = f.check_box :cpot_score_ventilator_compliance_0, {:class => "calculable_checkbox", :checked => @submission.cpot_score_ventilator_compliance_0}, 0
            = label_tag 'Tolerating ventilator'
          %td
            = f.check_box :cpot_score_ventilator_compliance_1, {:class => "calculable_checkbox", :checked => @submission.cpot_score_ventilator_compliance_1}, 1
            = label_tag 'Coughing but tolerating the ventilator'

          %td
            = f.check_box :cpot_score_ventilator_compliance_2, {:class => "calculable_checkbox", :checked => @submission.cpot_score_ventilator_compliance_2}, 2
            = label_tag 'Fighting ventilator'

        %tr
          %th{:scope => "row"} Vocalization (extubated patients)
          %td
            = f.check_box :cpot_score_vocalization_0, {:class => "calculable_checkbox", :checked => @submission.cpot_score_vocalization_0}, 0
            = label_tag 'Talking in normal tone'
          %td
            = f.check_box :cpot_score_vocalization_1, {:class => "calculable_checkbox", :checked => @submission.cpot_score_vocalization_1}, 1
            = label_tag 'Sighing; moaning'
          %td
            = f.check_box :cpot_score_vocalization_2, {:class => "calculable_checkbox", :checked => @submission.cpot_score_vocalization_2}, 2
            = label_tag 'Fighting Ventilator'

        %tr
          %th{:scope => "row"} Muscle Tension
          %td
            = f.check_box :cpot_score_muscle_tension_0, {:class => "calculable_checkbox", :checked => @submission.cpot_score_muscle_tension_0}, 0
            = label_tag 'Relaxed; neutral'
          %td
            = f.check_box :cpot_score_muscle_tension_1, {:class => "calculable_checkbox", :checked => @submission.cpot_score_muscle_tension_1}, 1
            = label_tag 'Tense; rigid'
          %td
            = f.check_box :cpot_score_muscle_tension_2, {:class => "calculable_checkbox", :checked => @submission.cpot_score_muscle_tension_2}, 2
            = label_tag 'Very tense; rigid'
        %tr
          %th
          %td
          %td
          -# %td= f.input :flacc_scale_total_score
          %td
            = f.hidden_field :cpot_total_score, :value => "", :class => "calculated_total_field"
            = label_tag 'Total Score'
            = f.text_field("cpot_total_score", class: "form-control calculated_total_field", disabled: true, value: @submission.cpot_total_score)
-# %h2 FLACC SCALE (For Non-Verbal Patients)
-# .col-md-4
-#   = f.input :criteria, :collection => [['face', 'Face'], ['legs', 'Legs'], ['activity', 'Activity'], ['cry', 'Cry'], ['consolability', 'Consolability']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.marital_status
-#
-# .col-md-4
-#   = f.input :flacc_score_0, :collection => [['no particular expression or smile', 'No Particular Expression or Smile'], ['normal position or relaxed', 'Normal Position or Relaxed'], ['lying quietly, normal position, moves easily', 'Lying Quietly, Normal Position, Moves Easily'], ['no cry(awake or asleep)', 'No cry(awake or asleep)'], ['content, relaxed', 'Content, Relaxed']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.marital_status
-#
-# .col-md-4
-#   = f.input :flacc_score_1, :collection => [['occasional grimace or frown, withdrawn, uninterested', 'Occasional grimace or frown, withdrawn, uninterested'], ['uneasy, restless, tense', 'Uneasy, Restless, Tense'], ['squirming, shifting back and forth, tense', 'Squirming, Shifting back and forth, Tense'], ['moans or whimpers; occasional complaint', 'Moans or Whimpers; occasional complaint'], ['reassured by occasional touching, hugging or being talked to, distractible', 'Reassured by occasional touching, hugging or being talked to, distractible']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :class => "form-control", :checked => @submission.marital_status
