= f.input :pain_assessment, :string
= f.input :verbal, :string
= f.input :non_verbal, :string
= f.input :scale_used, :string
= f.input :other_symptoms_present, :string
= f.input :additional_measures, :string
= f.input :pain_scale, :binary
= f.input :pain_scale_rating_scale, :binary
= f.input :flacc_scale, :string
= f.input :criteria, :string
= f.input :score_0_one, :string
= f.input :score_1_one, :string
= f.input :score_2_one, :string
= f.input :total_score_one, :string
= f.input :critical_care_pain_observation_tool, :string
= f.input :indicator, :string
= f.input :score_0_two, :string
= f.input :score_1_two, :string
= f.input :score_2_two, :string
= f.input :total_score_two, :string
