= f.input :pain_assessment, :string
= f.input :verbal, :string
= f.input :non_verbal, :string
= f.input :scale_used, :string
= f.input :other_symptoms_present, :string
= f.input :additional_measures, :string
= f.input :flacc_scale, :string
= f.input :criteria, :string
= f.input :score_0, :string
= f.input :score_1, :string
= f.input :score_2, :string
= f.input :total_score, :string
= f.input :critical_care_pain_observation_tool, :string
= f.input :indicator, :string
= f.input :score_0, :string
= f.input :score_1, :string
= f.input :score_2, :string
= f.input :total_score, :string
