%h3 Peripheral IV Insertion

.col-md-12.well
  = f.input :peripheral_iv_insertion_change_date_and_time, :class => "form-control", :label => "Peripheral IV Insertion Date and Time"
  = f.input :peripheral_iv_insertion_site, :class => "form-control", :label => "Peripheral IV Insertion Site"
  = f.input :number_of_attempts_for_peripheral_iv_insertion, :class => "form-control", :label => "Number of Attempts"
  = f.input :catheter_gauge, :class => "form-control", :label => "Catheter Gauge"
  = f.input :initials, :class => "form-control", :label => "Initials"
  = f.input :narrative_note, :class => "form-control", :label => "Narrative Note"

%h3 Peripheral IV Site Assessment

.col-md-12.well
  = f.input :peripheral_iv_site_assessment_date_and_time, :class => "form-control", :label => "Peripheral IV Site Assessment Date and Time"
  = f.input :shift, :collection => [['7am-7pm', '7AM-7PM'],['7pm-7am', '7PM-7AM']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.shift, :class => "form-control", :label => "Shift"
  = f.input :iv_patent, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.iv_patent, :class => "form-control", :label => "IV Patent"
  = f.input :signs_of_infiltration, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.signs_of_infiltration, :class => "form-control", :label => "Signs of Infiltration"
  = f.input :signs_of_infection_or_phlebitis, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.signs_of_infection_or_phlebitis, :class => "form-control", :label => "Signs of Infection/Phlebitis"
  = f.input :dressing_dry_or_intact, :collection => [['yes', 'Yes'], ['no', 'No']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.dressing_dry_or_intact, :class => "form-control", :label => "Dressing Dry/Intact"
  = f.input :dressing_change_time, :class => "form-control", :label => "Dressing Change Time"
  = f.input :tubing_change_time, :class => "form-control", :label => "Tubing Change Time"
  = f.input :your_initials, :class => "form-control", :label => "Your Initials"
  = f.input :narrative_note_for_assessment, :class => "form-control", :label => "Narrative Note"
