%h3 Peripheral IV Insertion

.col-md-12.well
  = f.input :peripheral_iv_insertion_change_date_and_time, :class => "form-control", :label => "Peripheral IV Insertion Date and Time"

.col-md-12.well
  = f.input :peripheral_iv_insertion_site, :class => "form-control", :label => "Peripheral IV Insertion Site"

.col-md-12.well

  = f.input :number_of_attempts_for_peripheral_iv_insertion, :class => "form-control", :label => "Number of Attempts"
  = f.input :catheter_gauge, :class => "form-control", :label => "Catheter Gauge"
  = f.input :initials, :class => "form-control", :label => "Initials"
  = f.input :narrative_note, :class => "form-control", :label => "Narrative Note"
