= f.input :marital_status, :string
= f.input :affect, :string
= f.input :spiritual_needs, :string
= f.input :social_support, :string
= f.input :advanced_directive, :string
= f.input :resuscitation_status, :string
= f.input :comments, :text
= f.input :motion_strength, :text
= f.input :grip, :text
= f.input :icp_device, :text
= f.input :prescribed_level, :text
= f.input :monitor, :text
= f.input :comments_one, :text
