= f.input :marital_status
= f.input :affect
= f.input :spiritual_needs
= f.input :social_support
= f.input :advanced_directive
= f.input :resuscitation_status
= f.input :resuscitation_comments
= f.input :motion_strength
= f.input :grip
= f.input :icp_device
= f.input :prescribed_level
= f.input :monitor
= f.input :monitor_comments
