.col-md-12
  = f.input :ventilation, :collection => [['spontaneous', 'Spontaneous'], ['mechanical assist', 'Mechanical Assist']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.ventilation, :class => "form-control"

.col-md-12
  = f.input :pattern, :collection => [['regular', 'Regular'], ['irregular', 'Irregular'], ['shallow', 'Shallow'], ['sob', 'SOB'], ['doe', 'DOE'], ['labored', 'Labored']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.pattern, :class => "form-control"

.col-md-12
  = f.input :breath_sounds, :collection => [['clear', 'Clear'], ['bilateral', 'Bilateral'], ['r', 'R'], ['l', 'L'], ['diminished', 'Diminished']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @submission.breath_sounds, :class => "form-control"
  = f.input :diminished_where, :class => "form-control"
  = f.input :absent, :collection => [['absent', 'Absent']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :absent_where, :class => "form-control"
  = f.input :crackles, :collection => [['crackles', 'crackles']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :crackles_where, :class => "form-control"
  = f.input :wheezes, :collection => [['wheezes', 'Wheezes']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :crackles_where, :class => "form-control"
  = f.input :stridor, :collection => [['stridor', 'Stridor']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :crackles_where, :class => "form-control"
  = f.input :ronchi, :collection => [['ronchi', 'Ronchi']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :crackles_where, :class => "form-control"

.col-md-12
  = f.input :cough, :collection => [['na', 'NA'], ['dry', 'Dry'], ['productive', 'Productive']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  = f.input :sputum, :collection => [['na', 'NA']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  = f.input :respiratory_color, :collection => [['clear', 'Clear'], ['white', 'White'], ['yellow', 'Yellow'], ['green', 'Green'], ['bloody', 'Bloody']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :other_color, :class => "form-control"

.col-md-12
  = f.input :consistency, :collection => [['thick', 'Thick'], ['thin', 'Thin']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :other_consistency, :class => "form-control"

.col-md-12
  = f.input :amount, :collection => [['scant', 'Scant'], ['mod', 'Mod'], ['copious', 'Copious']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :amount_comments, :class => "form-control"

.col-md-12
  = f.input :o2_protocol_in_place, :collection => [['ra', 'RA'], ['nc', 'NC']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :o2_nc, :collection => [['nc', 'NC']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :o2_mask, :collection => [['mask', 'Mask']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12
  %h1 Ventilator Settings
  = f.input :mode, :class => "form-control"
  = f.input :tv, :class => "form-control"
  = f.input :fio2, :class => "form-control"
  = f.input :rr, :class => "form-control"
  = f.input :ps, :class => "form-control"
  = f.input :peep, :class => "form-control"
  = f.input :peak_airway_pressure, :class => "form-control"
  = f.input :other_settings, :class => "form-control"

.col-md-12

  = f.input :ett_placement, :class => "form-control"

.col-md-12
  %h1 Trach
  = f.input :trach_not_applicable, :collection => [['na', 'NA']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :trach_type, :class => "form-control"
  = f.input :trach_size, :class => "form-control"

.col-md-12
  = f.input :chest_tube, :collection => [['na', 'NA'], ['r', 'R'], ['l', 'L'], ['location', 'Location']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :location_where, :class => "form-control"

.col-md-12
  %h1 Suction
  = f.input :trach_type, :class => "form-control"
  = f.input :suction_type, :collection => [['air leak', 'Air Leak'], ['sub q emphysema', 'Sub Q Emphysema']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :emphysema_where, :class => "form-control"

.col-md-12
  = f.input :chest_tube_comments, :class => "form-control"








-# = f.input :ventilation
-# = f.input :pattern
-# = f.input :breath_sounds
-# = f.input :cough
-# = f.input :sputum
-# = f.input :consistency
-# = f.input :amount
-# = f.input :amount_comments
-# = f.input :o2_protocol_in_place
-# = f.input :ventilator_settings
-# = f.input :ett_placement
-# = f.input :trach
-# = f.input :chest_tube
-# = f.input :chest_tube_comments
