= f.input :ventilation, :string
= f.input :pattern, :string
= f.input :breath_sounds, :string
= f.input :cough, :string
= f.input :sputum, :string
= f.input :consistency, :string
= f.input :amount, :text
= f.input :comments_two, :text
= f.input :o2_protocol_in_place, :string
= f.input :ventilator_settings, :string
= f.input :ett_placement, :string
= f.input :trach, :string
= f.input :chest_tube, :string
= f.input :comments_three, :string
