= f.input :ventilation
= f.input :pattern
= f.input :breath_sounds
= f.input :cough
= f.input :sputum
= f.input :consistency
= f.input :amount
= f.input :amount_comments
= f.input :o2_protocol_in_place
= f.input :ventilator_settings
= f.input :ett_placement
= f.input :trach
= f.input :chest_tube
= f.input :chest_tube_comments
