= f.input :wound_assessment, :string
= f.input :stage, :string
= f.input :other_wounds, :string
= f.input :size_two, :string
= f.input :depth, :string
= f.input :undermining, :string
= f.input :drainage, :string
= f.input :amount, :string
= f.input :color_of_wound, :string
= f.input :periwound_surrounding_skin, :string
= f.input :location_image1, :binary
= f.input :location_image2, :binary
