= f.input :skin_risk_assessment_screen
= f.input :skin_risk_assessment_screen_score
= f.input :skin_risk_assessment_screen_patients_score
= f.input :sensory_perception
= f.input :completely_limited
= f.input :very_limited
= f.input :slightly_limited
= f.input :no_impairment
= f.input :moisture
= f.input :constantly_moist
= f.input :moist_moisture
= f.input :occasionally_moist
= f.input :rarely_moist
= f.input :activity_skin_assessment_screen
= f.input :bedfast
= f.input :chairfast
= f.input :walks_occasionally
= f.input :walks_frequently
= f.input :mobility
= f.input :completely_immobile
= f.input :very_limited_mobility
= f.input :slightly_limited_mobility
= f.input :no_limitations
= f.input :nutrition_score
= f.input :very_poor
= f.input :probably_inadequate
= f.input :adequate
= f.input :excellent
= f.input :friction_shear
= f.input :problem
= f.input :potential_problem
= f.input :no_apparent_problem
= f.input :total_score_skin_assessment_screen
= f.input :skin_intact
= f.input :pressure_ulcer_prevention_protocol_in_place
= f.input :see_presssure_ulcer_documentation_form
= f.input :fall_scale_risk
= f.input :fall_scale_risk_score
= f.input :fall_scale_risk_patients_score
= f.input :history_of_falling
= f.input :no_history_of_falling
= f.input :immediate_or_within_three_months
= f.input :presence_of_secondary_diagnosis
= f.input :no_presence_of_secondary_diagnosis
= f.input :yes_presence_of_secondary_diagnosis
= f.input :ambulatory_aid
= f.input :none_bedrest_nurse_assist
= f.input :cane_walker_crutches
= f.input :furniture
= f.input :iv_heparin_lock
= f.input :no_iv_heparin_lock
= f.input :yes_iv_heparin_lock
= f.input :gait_transferring
= f.input :normal_bedrest_wheelchair
= f.input :weak
= f.input :impaired
= f.input :mental_status
= f.input :oriented_to_own_ability
= f.input :overstimates_forgets_limitations
= f.input :total_score_fall_scale_risk
= f.input :greater_than_25_initiate_fall_risk_measures
= f.input :patient_refuses_to_wear_red_slippers_in_bed
= f.input :unable_to_wear_slippers
= f.input :sign_on_door
= f.input :medications
