= f.input :ashen
= f.input :pink
= f.input :pale
= f.input :cyanotic
= f.input :jaundiced
= f.input :mottled
= f.input :flushed
= f.input :cool
= f.input :warm
= f.input :hot
= f.input :moist
= f.input :diaphoretic
= f.input :dry
= f.input :turgor
= f.input :turgor_comments
