= f.input :ashen, :string
= f.input :pink, :string
= f.input :pale, :string
= f.input :cyanotic, :string
= f.input :jaundiced, :string
= f.input :mottled, :string
= f.input :flushed, :string
= f.input :cool, :string
= f.input :warm, :string
= f.input :hot, :string
= f.input :moist, :string
= f.input :diaphoretic, :string
= f.input :dry, :string
= f.input :turgor, :string
= f.input :comments_nine, :string
