.col-md-4.well
  %h4{:align => "center"}
    %b Sensory Perception
  = f.label :completely_limited, "Completely Limited (1)"
  = f.input :patients_completely_limited_score, :class => "form-control"
  = f.label :very_limited, "Very Limited (2)"
  = f.input :patients_very_limited_score, :class => "form-control"
  = f.label :slightly_limited, "Slightly Limited (3)"
  = f.input :patients_slightly_limited_score, :class => "form-control"
  = f.label :no_impairment, "No Impairment (4)"
  = f.input :patients_no_impairment_score, :class => "form-control"

.col-md-4.well
  %h4{:align => "center"}
    %b Moisture
  = f.label :constantly_moist, "Constantly Moist (1)"
  = f.input :patients_constantly_moist_score, :class => "form-control"
  = f.label :moist, "Moist (2)"
  = f.input :patients_moist_score, :class => "form-control"
  = f.label :occasionally_moist, "Occasionally Moist (3)"
  = f.input :patients_occasionally_moist_score, :class => "form-control"
  = f.label :rarely_moist, "Rarely Moist (4)"
  = f.input :patients_rarely_moist_score, :class => "form-control"

.col-md-4.well
  %h4{:align => "center"}
    %b Activity
  = f.label :bedfast, "Bedfast (1)"
  = f.input :patients_bedfast_score, :class => "form-control"
  = f.label :chairfast, "Chairfast (2)"
  = f.input :patients_chairfast_score, :class => "form-control"
  = f.label :walks_occasionally, "Walks Occasionally (3)"
  = f.input :patients_walks_occasionally_score, :class => "form-control"
  = f.label :walks_frequently, "Walks Frequently (4)"
  = f.input :patients_walks_frequently_score, :class => "form-control"

.col-md-4.well
  %h4{:align => "center"}
    %b Mobility
  = f.label :completely_immobile, "Completely Immobile (1)"
  = f.input :patients_completely_immobile_score, :class => "form-control"
  = f.label :very_limited_mobility, "Very Limited (2)"
  = f.input :patients_very_limited_mobility_score, :class => "form-control"
  = f.label :slightly_limited_mobility, "Slightly Limited (3)"
  = f.input :patients_slightly_limited_mobility_score, :class => "form-control"
  = f.label :no_limitations, "No Limitations (4)"
  = f.input :patients_no_limitations_score, :class => "form-control"

.col-md-4.well
  %h4{:align => "center"}
    %b Nutrition Score
  = f.label :very_poor, "Very Poor (1)"
  = f.input :patients_very_poor_score, :class => "form-control"
  = f.label :probably_inadequate, "Probably Inadequate (2)"
  = f.input :patients_probably_inadequate_score, :class => "form-control"
  = f.label :adequate, "Adequate (3)"
  = f.input :patients_adequate_score, :class => "form-control"
  = f.label :excellent, "Excellant (4)"
  = f.input :patients_excellant_score, :class => "form-control"

.col-md-4.well
  %h4{:align => "center"}
    %b Friction and Shear
  = f.label :problem, "Problem (1)"
  = f.input :patients_problem_score, :class => "form-control"
  = f.label :potential_problem, "Potential Problem (2)"
  = f.input :patients_potential_problem_score, :class => "form-control"
  = f.label :no_apparent_problem, "No Apparent Problem (3)"
  = f.input :patients_no_apparent_problem_score, :class => "form-control"

  = f.hidden_field :total_score_skin_assessment_screen, :value => ""
  = f.input :total_score_skin_assessment_screen, :class => "form-control", :disabled => true, :label => "Total Score"

.col-md-12.well
  %h4 18 or below: Intervention Required
  = f.input :choose_for_information, :collection => [['skin intact', 'Skin Intact'], ['pressure ulcer prevention protocol in place', 'Pressure Ulcer Prevention Protocol in Place'], ['see pressure ulcer documentation form', 'See Pressure Ulcer Documentation Form']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

%h3 Fall Scale Risk
.col-md-12.well
  %h4{:align => "center"} History of Falling
  = f.label :no_history_of_falling, "No (0)"
  = f.input :patients_no_history_of_falling_score, :class => "form-control"
  = f.label :immediate_or_within_three_months, "Immediate or within 3 months (25)"
  = f.input :patients_immediate_or_within_three_months_score, :class => "form-control"

.col-md-12.well
  %h4{:align => "center"} Presence of Secondary Diagnosis: Musculoskeletal Deformities or Myopathy
  Bowel/Bladder Incontinence/Frequent Toileting
  TIA     Stroke     Diabetes     Parkinson’s   CHF     Epilepsy     Constipation     Dementia/Alzheimer’s
  Cardiac Dysrhythmias     Alcohol/Drug Withdrawal     Depression/Anxiety     Blindness/Hearing Disorders
  = f.label :no_presence_of_secondary_diagnosis, "No (0)"
  = f.input :patients_no_presence_of_secondary_diagnosis_score, :class => "form-control"
  = f.label :yes_presence_of_secondary_diagnosis, "Yes (15)"
  = f.input :patients_yes_presence_of_secondary_diagnosis_score, :class => "form-control"

.col-md-12.well
  %h4{:align => "center"} Ambulatory Aid
  = f.label :none_bedrest_nurse_assist, "None, Bedrest, Nurse, Assist (0)"
  = f.input :patients_none_bedrest_nurse_assist_score, :class => "form-control"
  = f.label :cane_walker_crutches, "Cane, Walker, Crutches (15)"
  = f.input :patients_cane_walker_crutches_score, :class => "form-control"
  = f.label :furniture, "Furniture (30)"
  = f.input :patients_furniture_score, :class => "form-control"

.col-md-12.well
  %h4{:align => "center"} IV/Heparin Lock
  = f.label :no_iv_heparin_lock, "No (0)"
  = f.input :patients_no_iv_heparin_lock_score, :class => "form-control"
  = f.label :yes_iv_heparin_lock, "Yes (20)"
  = f.input :patients_yes_iv_heparin_lock_score, :class => "form-control"

.col-md-12.well
  %h4{:align => "center"} Gait/ Transferring
  = f.label :normal_bedrest_wheelchair, "Normal, Bedrest, Wheelchair (0)"
  = f.input :patients_normal_bedrest_wheelchair_score, :class => "form-control"
  = f.label :weak, "Cane, Walker, Crutches (10)"
  = f.input :patients_weak_score, :class => "form-control"
  = f.label :impaired, "Impaired (20)"
  = f.input :patients_impaired_score, :class => "form-control"

.col-md-12.well
  %h4{:align => "center"} Mental Status
  = f.label :oriented_to_own_ability, "Oriented to own Ability (0)"
  = f.input :patients_oriented_to_own_ability_score, :class => "form-control"
  = f.label :overstimates_forgets_limitations, "Overestimates/Forgets Limitations (15)"
  = f.input :patients_overestimates_forgets_limitations_score, :class => "form-control"
  = f.hidden_field :total_score_fall_scale_risk, :value => ""
  = f.input :total_score_fall_scale_risk, :class => "form-control", :disabled => true, :label => "Total Score"

.col-md-12.well
  %h4 >25 Initiate Fall Risk Measures
  = f.input :select_one, :collection => [['patient refuses to wear red slippers in bed', 'Patient Refuses to Wear Red Slippers in Bed'], ['unable to wear slippers due to', 'Unable to Wear Slippers due to'], ['sign on door', 'Sign on Door']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

.col-md-12.well
  = f.input :medications, :collection => [['anti seizure meds', 'Anti-Seizure meds'], ['laxatives', 'Laxatives'], ['sedatives hypnotics', 'Sedatives/Hypnotics'], ['benzodiazepines', 'Benzodiazepines'], ['narcotic analgesics', 'narcotic Analgesics'], ['blood thinners', 'Blood Thinners'], ['diuretics', 'Diuretics'], ['psychotropics', 'Psychotropics']], :label_method => :last, :value_method => :first, :as => :check_boxes, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"

-# = f.input :skin_risk_assessment_screen
-# = f.input :skin_risk_assessment_screen_score
-# = f.input :skin_risk_assessment_screen_patients_score
-# = f.input :sensory_perception
-# = f.input :completely_limited
-# = f.input :very_limited
-# = f.input :slightly_limited
-# = f.input :no_impairment
-# = f.input :moisture
-# = f.input :constantly_moist
-# = f.input :moist_moisture
-# = f.input :occasionally_moist
-# = f.input :rarely_moist
-# = f.input :activity_skin_assessment_screen
-# = f.input :bedfast
-# = f.input :chairfast
-# = f.input :walks_occasionally
-# = f.input :walks_frequently
-# = f.input :mobility
-# = f.input :completely_immobile
-# = f.input :very_limited_mobility
-# = f.input :slightly_limited_mobility
-# = f.input :no_limitations
-# = f.input :nutrition_score
-# = f.input :very_poor
-# = f.input :probably_inadequate
-# = f.input :adequate
-# = f.input :excellent
-# = f.input :friction_shear
-# = f.input :problem
-# = f.input :potential_problem
-# = f.input :no_apparent_problem
-# = f.input :total_score_skin_assessment_screen
-# = f.input :skin_intact
-# = f.input :pressure_ulcer_prevention_protocol_in_place
-# = f.input :see_presssure_ulcer_documentation_form
-# = f.input :fall_scale_risk
-# = f.input :fall_scale_risk_score
-# = f.input :fall_scale_risk_patients_score
-# = f.input :history_of_falling
-# = f.input :no_history_of_falling
-# = f.input :immediate_or_within_three_months
-# = f.input :presence_of_secondary_diagnosis
-# = f.input :no_presence_of_secondary_diagnosis
-# = f.input :yes_presence_of_secondary_diagnosis
-# = f.input :ambulatory_aid
-# = f.input :none_bedrest_nurse_assist
-# = f.input :cane_walker_crutches
-# = f.input :furniture
-# = f.input :iv_heparin_lock
-# = f.input :no_iv_heparin_lock
-# = f.input :yes_iv_heparin_lock
-# = f.input :gait_transferring
-# = f.input :normal_bedrest_wheelchair
-# = f.input :weak
-# = f.input :impaired
-# = f.input :mental_status
-# = f.input :oriented_to_own_ability
-# = f.input :overstimates_forgets_limitations
-# = f.input :total_score_fall_scale_risk
-# = f.input :greater_than_25_initiate_fall_risk_measures
-# = f.input :patient_refuses_to_wear_red_slippers_in_bed
-# = f.input :unable_to_wear_slippers
-# = f.input :sign_on_door
-# = f.input :medications
