= f.input :sensory_perception, :string
= f.input :completely_limited, :integer
= f.input :very_limited, :integer
= f.input :slightly_limited, :integer
= f.input :no_impairment, :integer
= f.input :moisture, :string
= f.input :constantly_moist, :integer
= f.input :moist, :integer
= f.input :occasionally_moist, :integer
= f.input :rarely_moist, :integer
= f.input :activity, :string
= f.input :bedfast, :integer
= f.input :chairfast, :integer
= f.input :walks_occasionally, :integer
= f.input :walks_frequently, :integer
= f.input :mobility, :string
= f.input :completely_immobile, :integer
= f.input :very_limited, :integer
= f.input :slightly_limited, :integer
= f.input :no_limitations, :integer
= f.input :nutrition_score, :string
= f.input :very_poor, :integer
= f.input :probably_inadequate, :integer
= f.input :adequate, :integer
= f.input :excellent, :integer
= f.input :friction_shear, :string
= f.input :problem, :integer
= f.input :potential_problem, :integer
= f.input :no_apparent_problem, :integer
= f.input :total_score, :integer
= f.input :skin_intact, :string
= f.input :pressure_ulcer_prevention_protocol_in_place, :string
= f.input :see_presssure_ulcer_documentation_form, :string
= f.input :fall_scale_risk, :string
= f.input :history_of_falling, :string
= f.input :no, :integer
= f.input :immediate_or_within_three_months, :integer
= f.input :presence_of_secondary_diagnosis, :string
= f.input :no, :integer
= f.input :yes, :integer
= f.input :ambulatory_aid, :string
= f.input :none_bedrest_nurse_assist, :integer
= f.input :cane_walker_crutches, :integer
= f.input :furniture, :integer
= f.input :iv_heparin_lock, :string
= f.input :no, :integer
= f.input :yes, :integer
= f.input :gait_transferring, :string
= f.input :normal_bedrest_wheelchair, :integer
= f.input :weak, :integer
= f.input :impaired, :integer
= f.input :mental_status, :string
= f.input :oriented_to_own_ability, :integer
= f.input :overstimates_forgets_limitations, :integer
= f.input :total_score, :integer
= f.input :greater_than_25_initiate_fall_risk_measures, :string
= f.input :patient_refuses_to_wear_red_slippers_in_bed, :string
= f.input :unable_to_wear_slippers, :string
= f.input :sign_on_door, :string
= f.input :mediacation, :string
= f.input :anti_seizure_meds, :string
= f.input :laxatives, :string
= f.input :sedatives_hypnotics, :string
= f.input :benzodiazepines, :string
= f.input :narcotic_analgesics, :string
= f.input :blood_thinners, :string
= f.input :diuretics, :string
= f.input :psychotropics, :string
