= f.input :wound_assessment
= f.input :stage
= f.input :other_wounds
= f.input :wound_size
= f.input :depth
= f.input :undermining
= f.input :drainage
= f.input :wound_amount
= f.input :color_of_wound
= f.input :periwound_surrounding_skin
= f.input :location_image1
= f.input :location_image2
