-#.col-md-12.well
  %h3{:align => 'center'} Vital Signs Documentation
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Time
          %th T
          %th P
          %th R
          %th B/P
          %th SaO2
          %th PAS/PAD
          %th PCWP
          %th CVP
          %th GCS
          %th ICP
          %th I
          %th O
          %th Other CT/NGT/Drains
          %th Titrated Meds or Meds/Treatments Based on Patient's Condition
          %th Other Relevant Notes
      %tbody
        %tr
          %td= f.input :site, :class => "form-control", :input_html => {rows:40}
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"
          %td= f.input :site, :class => "form-control"

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td


.col-md-12.well
  %h3{:align => 'center'} Vital Signs Documentation
  = f.input :vital_signs_documentation_time, :class => "form-control", :label => "Time"
  = f.input :t_vital_signs, :class => "form-control", :label => "T"
  = f.input :p_vital_signs, :class => "form-control", :label => "P"
  = f.input :r_vital_signs, :class => "form-control", :label => "R"
  = f.input :b_p_vital_signs, :class => "form-control", :label => "B/P"
  = f.input :sao2_vital_signs, :class => "form-control", :label => "SaO2"
  = f.input :pas_pad_vital_signs, :class => "form-control", :label => "PAS/PAD"
  = f.input :pcwp_vital_signs, :class => "form-control", :label => "PCWP"
  = f.input :cvp_vital_signs, :class => "form-control", :label => "CVP"
  = f.input :gcs_vital_signs, :class => "form-control", :label => "GCS"
  = f.input :icp_vital_signs, :class => "form-control", :label => "ICP"
  = f.input :i_vital_signs, :class => "form-control", :label => "I"
  = f.input :o_vital_signs, :class => "form-control", :label => "O"
  = f.input :other_ct_ngt_drains_vital_signs, :class => "form-control", :label => "Other CT/NGT/Drains"
  = f.input :titrated_meds_or_meds_treatment_based_on_patients_condition_vit, :class => "form-control", :label => "Titrated Meds or Meds/Treatments Based on Patient's Condition"
  = f.input :other_relevant_notes_vital_signs, :class => "form-control", :label => "Other Relevant Notes"
