= f.input :each_risk_factor_represents_one_point
= f.input :each_risk_factor_represents_two_point
= f.input :each_risk_factor_represents_three_point
= f.input :each_risk_factor_represents_five_point
= f.input :patients_total_score
