= f.input :each_risk_factor_represents_one_point, :string
= f.input :each_risk_factor_represents_two_point, :string
= f.input :each_risk_factor_represents_three_point, :string
= f.input :each_risk_factor_represents_five_point, :string
= f.input :patients_total_score, :string
