.admin-page-wrapper

  .col-md-8.history-information
    = render "layouts/admin/patient_menu", :patient => @patient, :history => @history
    %hr
    %h1 Labs
    = link_to 'Add Lab +', new_admin_patient_history_lab_url(@patient, @history), class: "btn btn-success"
    %hr
    %table.table.table-striped.datatable
      %thead
        %tr
          %th Date and Time Drawn
          %th
      %tbody
        - @labs.each do |lab|
          %tr
            %td.date-object= lab.date_and_time_drawn.strftime("%m/%d/%Y at %I:%M%p")  
            %td
              = link_to 'View', admin_patient_history_lab_path(@patient, @history, lab), :class => "btn btn-default btn-xs"
              = link_to 'Edit', edit_admin_patient_history_lab_path(@patient, @history, lab), :class => "btn btn-default btn-xs"
              = link_to 'Delete', admin_patient_history_lab_path(@patient, @history, lab), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-default btn-xs'


  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
