%h1 Listing PRNs

.col-md-8.history-information
  = render "layouts/patient_menu", :patient => @patient, :history => @history
  %hr
  %h1 PRNs
  %hr
  %table.table.datatable
    %thead
      %tr
        %th Date Ordered
        %th Ordering M.D
        %th

    %tbody
      - @prns.each do |prn|
        %tr
          %th= prn.date_ordered
          %td= prn.ordering_md
          %td
            = link_to 'View', patient_history_prn_path(@patient, @history, prn), :class => "btn btn-default btn-xs"


.col-md-4.information-block
  %h2 Patient Details
  = render "admin/patient_block"
