%h1 Listing prns

.col-md-8.well
  .table-responsive
    %table.table-hover.completed-table
      %thead
        %tr
          %th Ordering md
          %th Date ordered
          %th Medication
          %th
          %th
          %th

      %tbody
        - @prns.each do |prn|
          %tr
            %td= prn.ordering_md
            %td= prn.date_ordered
            %td= prn.medication
            %td= link_to 'Show', patient_history_prn_path(@patient, @history, prn), :class => "btn btn-primary"
            %td= link_to 'Edit', edit_patient_history_prn_path(@patient, @history, prn), :class => "btn btn-primary"
            %td= link_to 'Destroy', patient_history_prn_path(@patient, @history, prn), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-primary"

    %br
    .col-md-8.well
      = link_to 'New PRN', new_patient_history_prn_path, :class => "btn btn-primary"
