%h1 Listing labs

%table
  %thead
    %tr
      %th Orders
      %th Date and time drawn
      %th
      %th
      %th

  %tbody
    - @labs.each do |lab|
      %tr
        %td= lab.orders
        %td= lab.date_and_time_drawn
        %td= link_to 'Show', lab
        %td= link_to 'Edit', edit_lab_path(lab)
        %td= link_to 'Destroy', lab, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lab', new_lab_path
