%p#notice= notice

%p
  %b Orders:
  = @lab.orders
%p
  %b Date and time drawn:
  = @lab.date_and_time_drawn
<<<<<<< HEAD

= link_to 'Edit', edit_lab_path(@lab), :class => "btn btn-primary"
\|
= link_to 'Back', labs_path, :class => "btn btn-primary"
=======
>>>>>>> aab97ebfc58530be9390aae41cee616a2d2296a9
